<!-- START Top Navbar-->
<style type="text/css">
		.jygspan{color: #FFFFFF;font-size: 14px; vertical-align: middle; }
		@media only screen and (max-width: 767px){
			.jygspan{color: #666; }
		}

</style>
<nav role="navigation" class="navbar topnavbar">
   <!-- START navbar header-->
   <div class="navbar-header">
      <a href="#/" class="navbar-brand">
         <div class="brand-logo">
           <img src="app/img/logo.png" style="margin: 0;width: 105px; " alt="App Logo"  />
            	<span class="jygspan" >
            		<span style="margin: 0 10px;">毛不易</span> 超级管理员
            	</span>
         </div>
      </a>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="nav-wrapper">
	 <!--<ul class="nav navbar-nav">
         <li>
            <a href="#" trigger-resize="" ng-click="app.layout.isCollapsed = !app.layout.isCollapsed" class="hidden-xs">
               <em class="fa fa-navicon"></em>
            </a>
            <a href="#" toggle-state="aside-toggled" no-persist="no-persist" class="visible-xs sidebar-toggle">
               <em class="fa fa-navicon"></em>
            </a>
         </li>
      </ul>-->
      <ul class="nav navbar-nav navbar-right">
     	  <li>
            <a href="#" trigger-resize="" ng-click="app.layout.isCollapsed = !app.layout.isCollapsed" class="hidden-xs">
               <em class="fa fa-navicon"></em>
            </a>
            <a href="#" toggle-state="aside-toggled" no-persist="no-persist" class="visible-xs sidebar-toggle">
               <em class="fa fa-navicon"></em>
            </a>
         </li>
         <li >
             <a href="#" list-group-item>
              	<span class="jygspan">
              		郑州
              		<span id="currentTime" style="margin: 0 10px;">
              		</span>
              	</span>
              </a>
         </li>
          <li >
             <a href="#" list-group-item>
             	<i class="fa fa-sign-out" aria-hidden="true"></i>
              </a>
         </li>
          <li>
            <a href="#" toggle-state="offsidebar-open" no-persist="no-persist">
               <em class="icon-notebook"></em>
            </a>
         </li>
      </ul>
   </div>
	  <script type="text/javascript">
		var date = new Date();
		var year = date.getFullYear();
		var month = date.getMonth()+1;
		var day = date.getDate();
		var hour = date.getHours();
		var minute = date.getMinutes();
		var second = date.getSeconds();
		var currentTime = year+'年'+month+'月'+day+'日 ';
		var a = new Array("日", "一", "二", "三", "四", "五", "六");  
		var week = new Date().getDay();  
		var str = "星期"+ a[week];  
		$('#currentTime').html(currentTime + " " + str);
	</script>
</nav>
