html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th,textarea, td {
  border: 0 none;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

em, strong {
  font-style: normal;
}

ul, ol, li {
  list-style: none;
}

body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
    color: #b4b4b4;
    background-color: #fff;
    font-size: 16px;
    width: auto;
    min-width: 320px;
    max-width: 414px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
a {
  text-decoration: none;
}
.wrap{
	padding: 0 10px;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
.gap{
	height: 10px;
	background: #DCDCDC;
}
.banner{
	height: 100px;
	background: url(../img/demo.png);
	background-position: center center;
	-webkit-background-size: 100% 100%; 
}
.awardList{
	height: 112px;
	background: #FFFFFF;
	
}
.awardList ul {
	overflow: hidden;
}
.awardList ul li{
	float: left;
	text-align: center;
	width: 32.33%;
	margin: 10px 0 1px;
}
.awardList ul li.borderLi{
	border-left: 1px solid #DCDCDC;
	border-right: 1px solid #DCDCDC;
}
.awardList ul li i{
	width: 50px;
	height: 50px;
	margin: 5px 0 3px;
	display: inline-block;
	background: url(../img/phone_bg.png);
	background-size: 100% 100%;
}
.awardList ul li>div{
	font-size: 14px;
	color: #787878;
	margin-bottom: 5px;
}
.limitActBox{
	background: #FFFFFF;
}
.intro_title{
	font-size: 16px;
	color: #000000;
    margin: 10px 0 14px;
}
.intro_title:before{
	content: "";  /*:before和:after必带技能，重要性为满5颗星*/
    display: inline-block;
    position: relative;  /*日常绝对定位*/
    width:5px;
    height: 20px;
    background: #D43C33;
    vertical-align: middle;
}
.intro_title span{
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	font-size: 14px;
}
.limitAct{
	background: url(../img/limitAct.png);
	width: 90%;
	height: 100px;
	background-position: center center;
	background-size: 100% 100%; 
	margin:5px  auto 23px;
	font-size: 16px;
	text-align: center;
	line-height: 100px;
	color: #FFFFFF;
}
