html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th,textarea, td {
  border: 0 none;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

em, strong {
  font-style: normal;
}

ul, ol, li {
  list-style: none;
}

body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
    color: #b4b4b4;
    background-color: #fff;
    font-size: 16px;
    width: auto;
    min-width: 320px;
    max-width: 414px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
a {
  text-decoration: none;
}
.wrap{
	padding: 0 12px;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
.t-c{
	text-align: center;
}
.r_header .r_title{
	margin: 25px 0 20px;
	color: #d43c33;
	font-size: 16px;
}
.r_header p{
	font-size: 14px;
	color: #787878;
	line-height: 30px;
}
.m1{
	margin: 34px 0 18px;
}
 table{
	 border-collapse: collapse;   
	border: 1px solid #D43C33;
	width: 95%;
	margin:0 auto  30px;
}
 table td{
	border: 1px solid #D43C33;
	font-size: 12px;
	color: #000;
	text-align: center;
	vertical-align: middle;
	padding: 15px 0;
}
.r_header table td>p{
	font-size: 12px;
	color: #000;
	text-align: center;
}
.m2{
	margin: 30px 16px;
}
