<div ng-controller="LoginFormController" class="block-center mt-xl wd-xl login-page"> 
<div class="block-center mt-xl wd-xl login-page">
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
           <!-- <img src="app/img/logo.png" alt="Image" class="block-center img-rounded" />-->
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">聚优顾后台管理系统</p>
         <form role="form" ng-submit="login()" name="loginForm" novalidate="" class="form-validate mb-lg">
       <!--    <form role="form" action="/jygbg/login/login" method="post" id="form"  name="loginForm" novalidate="" class="form-validate mb-lg"> -->
            <div class="form-group has-feedback">
               <input id="phone" type="text" name="phone" placeholder="用户名"   required="" class="form-control" value="15138490977"  />
              <!--  ng-model="account.phone" -->
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
            </div>
            <div class="form-group has-feedback">
               <input id="password" type="password" name="password" placeholder="密码" value="123456"   required="" class="form-control" />
              <!--  ng-model="account.password" -->
               <span class="fa fa-lock form-control-feedback text-muted"></span>
            </div>
            <!-- <div class="form-group has-feedback">
               <input id="identifyingCode" type="text" name="identifyingCode" placeholder="验证码" required="" class="form-control" />
               <span class=""></span>
            </div> -->
            <!-- <div class="clearfix">
               <div class="checkbox c-checkbox pull-left mt0">
                  <label style="user-select: none;">
                     <input type="checkbox" value="" name="account_remember" ng-model="account.remember" />
                     <span class="fa fa-check" ></span>璁颁綇瀵嗙爜</label>
               </div>
            </div> -->
            <button type="submit" class="btn btn-block btn-primary mt-lg">登录</button>
         </form> 
      </div>
   </div>
  <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
</div>