<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fx.xzt.sys.mapper.FinanceOrderMapper">
  <resultMap id="BaseResultMap" type="com.fx.xzt.sys.entity.FinanceOrder">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="product_no" jdbcType="VARCHAR" property="productNo" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="buy_amount" jdbcType="INTEGER" property="buyAmount" />
    <result column="buy_time" jdbcType="TIMESTAMP" property="buyTime" />
    <result column="redeem_time" jdbcType="TIMESTAMP" property="redeemTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="income" jdbcType="INTEGER" property="income" />
    <result column="initial_price" jdbcType="INTEGER" property="initialPrice" />
    <result column="clear_price" jdbcType="INTEGER" property="clearPrice" />
  </resultMap>

  <!--理财交易订单查询开始-htt-->
  <select id="selectByFinanceOrder" resultType="java.util.Map" parameterType="java.util.Map">
    SELECT o.id id, o.order_no orderNo, o.user_id userID, u.UserName userName, i.RegisterTime  registerTime,
    o.agent_id AS agentId, ua.user_name AS agentName, o.broker_id AS brokerId, ub.user_name AS brokerName ,
    o.product_id productId, c.product_name productName,c.product_no productNo,o.cycle,o.year_incom_percent yearIncomPercent,
    o.float_percent floatPercent, o.nper nper, c.type type,
    o.buy_amount buyAmount,o.buy_time buyTime,o.redeem_time redeemTime,o.status,o.income,
    o.initial_price initialPrice, o.clear_price clearPrice, o.gram,
    s.share_amount shareAmount 
    FROM finance_order o
    LEFT JOIN User_Login u ON o.user_id = u.UserID
    LEFT JOIN User_Info i ON u.UserID = i.UserID
    LEFT JOIN users ua ON o.agent_id = ua.id
    LEFT JOIN users ub ON o.broker_id = ub.id
    LEFT JOIN finance_conf c ON o.product_id = c.id
    LEFT JOIN share_record s on o.id = s.order_id
    <where>
      <!--   and u.Status = 1 -->
      and o.type = 1
      <if test="userName != null and userName != '' ">
        and u.UserName = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="orderNo != null and orderNo != '' ">
        and o.order_no = #{orderNo,jdbcType=VARCHAR}
      </if>
      <if test="startTime !=null and startTime !='' ">
        and o.buy_time &gt;=#{startTime,jdbcType=VARCHAR}
      </if>
      <if test="endTime !=null and endTime != '' ">
        and o.buy_time &lt;=#{endTime,jdbcType=TIMESTAMP}
      </if>
      <if test="regStartTime !=null and regStartTime !='' ">
        and i.RegisterTime &gt;=#{regStartTime,jdbcType=TIMESTAMP}
      </if>
      <if test="regEndTime !=null and regEndTime != '' ">
        and i.RegisterTime &lt;=#{regEndTime,jdbcType=TIMESTAMP}
      </if>
      <if test="redeemStartTime !=null and redeemStartTime !='' ">
        and o.redeem_time &gt;=#{redeemStartTime,jdbcType=TIMESTAMP}
      </if>
      <if test="redeemEndTime !=null and redeemEndTime != '' ">
        and o.redeem_time &lt;=#{redeemEndTime,jdbcType=TIMESTAMP}
      </if>
      <if test="agentName != null and agentName !='' ">
        and ua.id = #{agentName,jdbcType=BIGINT}
      </if>
      <if test="brokerName != null and brokerName !='' ">
        and ub.id = #{brokerName,jdbcType=BIGINT}
      </if>
      <if test="status != null and status !='' ">
        and o.status = #{status,jdbcType=INTEGER}
      </if>
      <if test="nper != null and nper !='' ">
        and c.nper = #{nper,jdbcType=VARCHAR}
      </if>
      <if test="type != null and type !='' ">
        and c.type = #{type,jdbcType=INTEGER}
      </if>
    </where>
    order by o.buy_time DESC
  </select>
  <!--理财交易订单查询结束-htt-->

  <!--理财交易金额统计开始-htt-->
  <select id="selectByFinanceOrderCount" resultType="java.util.Map" parameterType="java.util.Map">
    SELECT SUM(o.buy_amount) buyAmountSum, Sum(o.income) incomeSum,
    SUM(s.share_amount) shareAmountSum 
    FROM finance_order o
    LEFT JOIN User_Login u ON o.user_id = u.UserID
    LEFT JOIN User_Info i ON u.UserID = i.UserID
    LEFT JOIN users ua ON o.agent_id = ua.id
    LEFT JOIN users ub ON o.broker_id = ub.id
    LEFT JOIN finance_conf c ON o.product_id = c.id
    LEFT JOIN share_record s on o.id = s.order_id
    <where>
      <!--   and u.Status = 1 --> 
      and o.type = 1
      <if test="userName != null and userName != '' ">
        and u.UserName = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="orderNo != null and orderNo != '' ">
        and o.order_no = #{orderNo,jdbcType=VARCHAR}
      </if>
      <if test="startTime !=null and startTime !='' ">
        and o.buy_time &gt;=#{startTime,jdbcType=VARCHAR}
      </if>
      <if test="endTime !=null and endTime != '' ">
        and o.buy_time &lt;=#{endTime,jdbcType=TIMESTAMP}
      </if>
      <if test="regStartTime !=null and regStartTime !='' ">
        and i.RegisterTime &gt;=#{regStartTime,jdbcType=TIMESTAMP}
      </if>
      <if test="regEndTime !=null and regEndTime != '' ">
        and i.RegisterTime &lt;=#{regEndTime,jdbcType=TIMESTAMP}
      </if>
      <if test="redeemStartTime !=null and redeemStartTime !='' ">
        and o.redeem_time &gt;=#{redeemStartTime,jdbcType=TIMESTAMP}
      </if>
      <if test="redeemEndTime !=null and redeemEndTime != '' ">
        and o.redeem_time &lt;=#{redeemEndTime,jdbcType=TIMESTAMP}
      </if>
      <if test="agentName != null and agentName !='' ">
        and ua.id = #{agentName,jdbcType=BIGINT}
      </if>
      <if test="brokerName != null and brokerName !='' ">
        and ub.id = #{brokerName,jdbcType=BIGINT}
      </if>
      <if test="status != null and status !='' ">
        and o.status = #{status,jdbcType=INTEGER}
      </if>
      <if test="nper != null and nper !='' ">
        and c.nper = #{nper,jdbcType=VARCHAR}
      </if>
      <if test="type != null and type !='' ">
        and c.type = #{type,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <!--理财交易金额统计结束-htt-->
  
  <!--黄金稳赚交易订单查询开始-htt-->
  <select id="selectByGoldFinanceOrder" resultType="java.util.Map" parameterType="java.util.Map">
    SELECT o.id id, o.order_no orderNo, o.user_id userID, u.UserName userName, i.RegisterTime  registerTime,
    o.agent_id AS agentId, ua.user_name AS agentName, o.broker_id AS brokerId, ub.user_name AS brokerName ,
    o.product_id productId, c.product_name productName,c.product_no productNo,o.cycle,o.year_incom_percent yearIncomPercent,
    o.float_percent floatPercent, o.nper nper, c.type type,
    o.buy_amount buyAmount,o.buy_time buyTime,o.redeem_time redeemTime,o.status,o.income,
    o.initial_price initialPrice, o.clear_price clearPrice, s.share_amount shareAmount 
    FROM finance_order o
    LEFT JOIN User_Login u ON o.user_id = u.UserID
    LEFT JOIN User_Info i ON u.UserID = i.UserID
    LEFT JOIN users ua ON o.agent_id = ua.id
    LEFT JOIN users ub ON o.broker_id = ub.id
    LEFT JOIN finance_conf_goldearn c ON o.product_id = c.id
    LEFT JOIN share_record s on o.id = s.order_id
    <where>
      <!--   and u.Status = 1 -->
      and o.type = 2
      <if test="userName != null and userName != '' ">
        and u.UserName = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="orderNo != null and orderNo != '' ">
        and o.order_no = #{orderNo,jdbcType=VARCHAR}
      </if>
      <if test="startTime !=null and startTime !='' ">
        and o.buy_time &gt;=#{startTime,jdbcType=VARCHAR}
      </if>
      <if test="endTime !=null and endTime != '' ">
        and o.buy_time &lt;=#{endTime,jdbcType=TIMESTAMP}
      </if>
      <if test="regStartTime !=null and regStartTime !='' ">
        and i.RegisterTime &gt;=#{regStartTime,jdbcType=TIMESTAMP}
      </if>
      <if test="regEndTime !=null and regEndTime != '' ">
        and i.RegisterTime &lt;=#{regEndTime,jdbcType=TIMESTAMP}
      </if>
      <if test="redeemStartTime !=null and redeemStartTime !='' ">
        and o.redeem_time &gt;=#{redeemStartTime,jdbcType=TIMESTAMP}
      </if>
      <if test="redeemEndTime !=null and redeemEndTime != '' ">
        and o.redeem_time &lt;=#{redeemEndTime,jdbcType=TIMESTAMP}
      </if>
      <if test="agentName != null and agentName !='' ">
        and ua.id = #{agentName,jdbcType=BIGINT}
      </if>
      <if test="brokerName != null and brokerName !='' ">
        and ub.id = #{brokerName,jdbcType=BIGINT}
      </if>
      <if test="status != null and status !='' ">
        and o.status = #{status,jdbcType=INTEGER}
      </if>
      <if test="nper != null and nper !='' ">
        and c.nper = #{nper,jdbcType=VARCHAR}
      </if>
      <if test="type != null and type !='' ">
        and c.type = #{type,jdbcType=INTEGER}
      </if>
    </where>
    order by o.buy_time DESC
  </select>
  <!--黄金稳赚交易订单查询结束-htt-->
  
    <!--黄金理财交易金额统计开始-htt-->
  <select id="selectByGoldFinanceOrderCount" resultType="java.util.Map" parameterType="java.util.Map">
    SELECT SUM(o.buy_amount) buyAmountSum, Sum(o.income) incomeSum,
    SUM(s.share_amount) shareAmountSum 
     FROM finance_order o
    LEFT JOIN User_Login u ON o.user_id = u.UserID
    LEFT JOIN User_Info i ON u.UserID = i.UserID
    LEFT JOIN users ua ON o.agent_id = ua.id
    LEFT JOIN users ub ON o.broker_id = ub.id
    LEFT JOIN finance_conf_goldearn c ON o.product_id = c.id
    LEFT JOIN share_record s on o.id = s.order_id
    <where>
      and u.Status = 1 and o.type = 2
      <if test="userName != null and userName != '' ">
        and u.UserName = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="orderNo != null and orderNo != '' ">
        and o.order_no = #{orderNo,jdbcType=VARCHAR}
      </if>
      <if test="startTime !=null and startTime !='' ">
        and o.buy_time &gt;=#{startTime,jdbcType=VARCHAR}
      </if>
      <if test="endTime !=null and endTime != '' ">
        and o.buy_time &lt;=#{endTime,jdbcType=TIMESTAMP}
      </if>
      <if test="regStartTime !=null and regStartTime !='' ">
        and i.RegisterTime &gt;=#{regStartTime,jdbcType=TIMESTAMP}
      </if>
      <if test="regEndTime !=null and regEndTime != '' ">
        and i.RegisterTime &lt;=#{regEndTime,jdbcType=TIMESTAMP}
      </if>
      <if test="redeemStartTime !=null and redeemStartTime !='' ">
        and o.redeem_time &gt;=#{redeemStartTime,jdbcType=TIMESTAMP}
      </if>
      <if test="redeemEndTime !=null and redeemEndTime != '' ">
        and o.redeem_time &lt;=#{redeemEndTime,jdbcType=TIMESTAMP}
      </if>
      <if test="agentName != null and agentName !='' ">
        and ua.id = #{agentName,jdbcType=BIGINT}
      </if>
      <if test="brokerName != null and brokerName !='' ">
        and ub.id = #{brokerName,jdbcType=BIGINT}
      </if>
      <if test="status != null and status !='' ">
        and o.status = #{status,jdbcType=INTEGER}
      </if>
      <if test="nper != null and nper !='' ">
        and o.nper = #{nper,jdbcType=VARCHAR}
      </if>
      <if test="type != null and type !='' ">
        and c.type = #{type,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <!--黄金理财交易金额统计结束-htt-->

  <!--随意存交易分析-tainliya-start-->
  <select id="randomAnalysis" resultType="java.util.Map" parameterType="java.util.Map">
    SELECT COUNT(fo.id) AS randomCount, SUM(fo.buy_amount) AS randomAmount
    FROM finance_order fo
    LEFT JOIN User_Info ui
    ON fo.user_id = ui.UserID
    <where>
        fo.type = 1
      <if test="startTime != null and startTime != ''">
        AND fo.create_time &gt;= #{startTime,jdbcType=TIMESTAMP}
      </if>
      <if test="endTime != null and endTime != ''">
        AND fo.create_time &lt;= #{endTime,jdbcType=TIMESTAMP}
      </if>
      <if test="agentId != null and agentId != ''">
        AND ui.agent_id = #{agentId,jdbcType=BININT}
      </if>
    </where>
    LIMIT #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}

  </select>
  <!--随意存交易分析-tianliya-end-->
  <!--黄金稳赚交易分析-tainliya-start-->
  <select id="goldUpAnalysis" resultType="java.util.Map" parameterType="java.util.Map">
    SELECT COUNT(fo.id) AS goldUpCount, SUM(fo.buy_amount) AS goldUpAmount
    FROM finance_order fo
    LEFT JOIN User_Info ui
    ON fo.user_id = ui.UserID
    <where>
      fo.type = 2
      <if test="startTime != null and startTime != ''">
        AND fo.create_time &gt;= #{startTime,jdbcType=TIMESTAMP}
      </if>
      <if test="endTime != null and endTime != ''">
        AND fo.create_time &lt;= #{endTime,jdbcType=TIMESTAMP}
      </if>
      <if test="agentId != null and agentId != ''">
        AND ui.agent_id = #{agentId,jdbcType=BININT}
      </if>
    </where>
    LIMIT #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>
  <!--黄金稳赚交易分析-tianliya-end-->






</mapper>