<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fx.xzt.sys.mapper.GoldBuyBackConfMapper" >
  <resultMap id="BaseResultMap" type="com.fx.xzt.sys.entity.GoldBuyBackConf" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company_address" property="companyAddress" jdbcType="VARCHAR" />
    <result column="company_phone" property="companyPhone" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pick_up_time" property="pickUpTime" jdbcType="VARCHAR" />
    <result column="revise_value" property="reviseValue" jdbcType="DECIMAL" />
    <result column="revise_price" property="revisePrice" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="SMALLINT" />
    <result column="state" property="state" jdbcType="SMALLINT" />
    <result column="is_status" property="isStatus" jdbcType="BIT" />
    <result column="pre_num" property="preNum" jdbcType="INTEGER" />
    <result column="invalid_time" property="invalidTime" jdbcType="INTEGER" />
    <result column="spare" property="spare" jdbcType="VARCHAR" />
    <result column="gtm_create" property="gtmCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
  </resultMap>

  <select id="selectGoldBuyBack" resultType="java.util.Map" >
    select id, company_address companyAddress, company_phone companyPhone, name, pick_up_time pickUpTime,
       revise_value reviseValue, revise_price revisePrice, type, state, is_status isStatus, pre_num preNum,
       invalid_time invalidTime, spare, gtm_create gtmCreate, gmt_modified gmtModified, create_by createBy
    from gold_buy_back_conf

  </select>


  <update id="updateGoldBuyBackByid" parameterType="com.fx.xzt.sys.entity.GoldBuyBackConf" >
    update gold_buy_back_conf
    <set >
      <if test="companyAddress != null" >
        company_address = #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyPhone != null" >
        company_phone = #{companyPhone,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pickUpTime != null" >
        pick_up_time = #{pickUpTime,jdbcType=VARCHAR},
      </if>
      <if test="reviseValue != null" >
        revise_value = #{reviseValue,jdbcType=DECIMAL},
      </if>
      <if test="revisePrice != null" >
        revise_price = #{revisePrice,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="isStatus != null" >
        is_status = #{isStatus,jdbcType=BIT},
      </if>
      <if test="preNum != null" >
        pre_num = #{preNum,jdbcType=INTEGER},
      </if>
      <if test="invalidTime != null" >
        invalid_time = #{invalidTime,jdbcType=INTEGER},
      </if>
      <if test="spare != null" >
        spare = #{spare,jdbcType=VARCHAR},
      </if>
      <if test="gtmCreate != null" >
        gtm_create = #{gtmCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>