<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fx.xzt.sys.mapper.GoldWithdrawMapper">
	
	<!--黄金提取查询开始-htt-->
	<select id="selectByGoldWithdraw" resultType="java.util.Map" parameterType="java.util.Map">
	    SELECT CAST(w.id AS CHAR) id, cast(w.user_id  as CHAR) userId, w.type type, w.amount amount, w.fee fee, w.insurance insurance, w.logistics_fee logisticsFee, 
		w.apply_time applyTime, w.send_time sendTime, w.status status, w.logistics_no logisticsNo, w.update_time updateTime,
		u.UserName userName, w.agent_id AS agentId, ua.user_name AS agentName, w.broker_id AS brokerId, ub.user_name AS brokerName,
		a.contact_name contactName, a.contact_phone contactPhone, a.delivery_address deliveryAddress
		FROM gold_withdraw w
		LEFT JOIN user_address a ON w.user_id = a.user_id
		LEFT JOIN User_Login u ON w.user_id = u.UserID
		LEFT JOIN User_Info i ON u.UserID = i.UserID
		LEFT JOIN users ua ON w.agent_id = ua.id
		LEFT JOIN users ub ON w.broker_id = ub.id
	    <where>
	     <!--   and u.Status = 1 -->
	      <if test="userName != null and userName !=''">
	        and u.UserName = #{userName,jdbcType=VARCHAR}
	      </if>
	      <if test="startTime !=null and startTime !='' ">
	        and w.apply_time &gt;=#{startTime,jdbcType=TIMESTAMP}
	      </if>
	      <if test="endTime !=null and endTime !='' ">
	        and w.apply_time &lt;=#{endTime,jdbcType=TIMESTAMP}
	      </if>
	       <if test="agentName != null and agentName !='' ">
	        and ua.id = #{agentName,jdbcType=BIGINT}
	      </if>
	      <if test="brokerName != null and brokerName !='' ">
	        and ub.id = #{brokerName,jdbcType=BIGINT}
	      </if>
	      <if test="status != null and status !='' ">
	        and w.status = #{status,jdbcType=INTEGER}
	      </if>
	    </where>
	    order by w.apply_time desc
  	</select>
	<!--黄金提取查询结束-htt-->
	<!--黄金提取查询统计开始-htt-->
	<select id="selectByGoldWithdrawCount" resultType="java.util.Map" parameterType="java.util.Map">
	    SELECT SUM(amount) amountSum, SUM(insurance) insuranceSum, SUM(logistics_fee) logisticsFeeSum 
		FROM gold_withdraw w
		LEFT JOIN user_address a ON w.user_id = a.user_id
		LEFT JOIN User_Login u ON w.user_id = u.UserID
		LEFT JOIN User_Info i ON u.UserID = i.UserID
		LEFT JOIN users ua ON w.agent_id = ua.id
		LEFT JOIN users ub ON w.broker_id = ub.id
	    <where>
	      <!--   and u.Status = 1 -->
	      <if test="userName != null and userName !=''">
	        and u.UserName = #{userName,jdbcType=VARCHAR}
	      </if>
	      <if test="startTime !=null and startTime !='' ">
	        and w.apply_time &gt;=#{startTime,jdbcType=TIMESTAMP}
	      </if>
	      <if test="endTime !=null and endTime !='' ">
	        and w.apply_time &lt;=#{endTime,jdbcType=TIMESTAMP}
	      </if>
	       <if test="agentName != null and agentName !='' ">
	        and ua.id = #{agentName,jdbcType=VARCHAR}
	      </if>
	      <if test="brokerName != null and brokerName !='' ">
	        and ub.id = #{brokerName,jdbcType=VARCHAR}
	      </if>
	      <if test="status != null and status !='' ">
	        and w.status = #{status,jdbcType=INTEGER}
	      </if>
	    </where>
  	</select>
	<!--黄金提取查询统计结束-htt-->
	<!-- 黄金提取修改开始-htt -->
	<update id="updateById" parameterType="com.fx.xzt.sys.entity.GoldWithdraw">
    	update gold_withdraw
    	<set>
	    	<if test="amount != null and amount !=''">
	        	amount = #{amount,jdbcType=REAL},
	        </if>
	        <if test="fee != null and fee !=''">
	        	fee = #{fee,jdbcType=INTEGER},
	        </if>
	        <if test="insurance != null and insurance !=''">
	        	insurance = #{insurance,jdbcType=INTEGER},
	        </if>
	        <if test="logisticsFee != null and logisticsFee !=''">
	        	logistics_fee = #{logisticsFee,jdbcType=INTEGER},
	        </if>
	        <if test="applyTime != null and applyTime !=''">
	        	apply_time = #{applyTime,jdbcType=TIMESTAMP},
	        </if>
	        <if test="sendTimeString != null and sendTimeString !=''">
	        	send_time = #{sendTimeString,jdbcType=TIMESTAMP},
	        </if>
	        <if test="status != null and status !=''">
	        	status = #{status,jdbcType=SMALLINT},
	        </if>
	        <if test="logisticsNo != null and logisticsNo !=''">
	        	logistics_no = #{logisticsNo,jdbcType=VARCHAR},
	        </if>
	        <if test="updateTimeString != null and updateTimeString !=''">
	        	update_time = #{updateTimeString,jdbcType=TIMESTAMP},
	        </if>
    	</set>
    	where id = #{id,jdbcType=BIGINT}
  </update>
	<!-- 黄金提取修改结束-htt -->
</mapper>