<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fx.xzt.sys.mapper.GoldRedeemMapper">
	<resultMap id="BaseResultMap" type="com.fx.xzt.sys.entity.GoldRedeem">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="user_id" jdbcType="BIGINT" property="userId" />
		<result column="gram" jdbcType="REAL" property="gram" />
		<result column="price" jdbcType="DOUBLE" property="price" />
		<result column="amount" jdbcType="BIGINT" property="amount" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="poundage" jdbcType="BIGINT" property="poundage" />
		<result column="channel_id" jdbcType="BIGINT" property="channelId" />
	</resultMap>

	<!--黄金赎回查询开始-htt-->
	<select id="selectByGoldRedeem" resultType="java.util.Map" parameterType="java.util.Map">
	    SELECT  cast(r.id as CHAR) id, cast(r.user_id as CHAR) userId,r.gram,r.price,r.amount,r.create_time createTme,r.poundage,
		u.UserName userName, cast(r.channel_id as CHAR) AS channelId, ua.user_name AS channelName 
		FROM gold_redeem r 
		LEFT JOIN User_Login u ON r.user_id = u.UserID
		LEFT JOIN User_Info i ON u.UserID = i.UserID
		LEFT JOIN users ua ON r.channel_id = ua.id
	    <where>
	      <!--   and u.Status = 1 -->
	      <if test="userName != null and userName !=''">
	        and u.UserName = #{userName,jdbcType=VARCHAR}
	      </if>
	      <if test="startTime !=null and startTime !='' ">
	        and r.create_time &gt;=#{startTime,jdbcType=TIMESTAMP}
	      </if>
	      <if test="endTime !=null and endTime !='' ">
	        and r.create_time &lt;=#{endTime,jdbcType=TIMESTAMP}
	      </if>
	       <if test="channelName != null and channelName !='' ">
	        and ua.id = #{channelName,jdbcType=BIGINT}
	      </if>
	    </where>
	    order by r.create_time desc
  	</select>
	<!--黄金赎回查询结束-htt-->
	
	<!--黄金赎回查询统计开始-htt-->
	<select id="selectByGoldRedeemCount" resultType="java.util.Map" parameterType="java.util.Map">
	    SELECT  FORMAT(IFNULL(SUM(r.gram),0),3) gramSum
		FROM gold_redeem r 
		LEFT JOIN User_Login u ON r.user_id = u.UserID
		LEFT JOIN User_Info i ON u.UserID = i.UserID
		LEFT JOIN users ua ON r.channel_id = ua.id
	    <where>
	      <!--   and u.Status = 1 -->
	      <if test="userName != null and userName !=''">
	        and u.UserName = #{userName,jdbcType=VARCHAR}
	      </if>
	      <if test="startTime !=null and startTime !='' ">
	        and r.create_time &gt;=#{startTime,jdbcType=TIMESTAMP}
	      </if>
	      <if test="endTime !=null and endTime !='' ">
	        and r.create_time &lt;=#{endTime,jdbcType=TIMESTAMP}
	      </if>
	       <if test="channelName != null and channelName !='' ">
	        and ua.id = #{channelName,jdbcType=BIGINT}
	      </if>
	    </where>
  	</select>
	<!--黄金赎回查询统计结束-htt-->
	
	<!-- 黄金赎回记录新增开始-htt -->
	<insert id="insertGoldRedeem" parameterType="com.fx.xzt.sys.entity.GoldRedeem" useGeneratedKeys="true" keyProperty="id">
    	insert into gold_redeem
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="gram != null">
                gram,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="createTime != null" >
               create_time,
             </if>
            <if test="poundage != null">
                poundage,
            </if>
            <if test="channelId != null">
                channel_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="gram != null">
                #{gram,jdbcType=REAL},
            </if>
            <if test="price != null">
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=BIGINT},
            </if>
            <if test="createTime != null" >
               #{createTime,jdbcType=TIMESTAMP},
             </if>
            <if test="poundage != null">
                #{poundage,jdbcType=BIGINT},
            </if>
            <if test="channelId != null">
                #{channelId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <!-- 黄金赎回记录新增结束-htt -->
	
	
</mapper>
