<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fx.xzt.sys.mapper.GoodsMapper" >

    <resultMap id="BaseResultMap" type="com.fx.xzt.sys.entity.Goods" >
        <id column="GoodsID" property="goodsID" jdbcType="CHAR" />
        <result column="GoodsCode" property="goodsCode" jdbcType="VARCHAR" />
        <result column="GoodsName" property="goodsName" jdbcType="VARCHAR" />
        <result column="GoodsType" property="goodsType" jdbcType="CHAR" />
        <result column="Inventory" property="inventory" jdbcType="INTEGER" />
        <result column="UAmt" property="UAmt" jdbcType="DECIMAL" />
        <result column="OnlineTime" property="onlineTime" jdbcType="TIMESTAMP" />
        <result column="ExpiryTime" property="expiryTime" jdbcType="TIMESTAMP" />
        <result column="ImgPath" property="imgPath" jdbcType="VARCHAR" />
        <result column="Status" property="status" jdbcType="SMALLINT" />
    </resultMap>
    <sql id="Base_Column_List" >
        GoodsID, GoodsCode, GoodsName, GoodsType, Inventory, UAmt, OnlineTime, ExpiryTime, 
        ImgPath, Status
    </sql>

    <select id="getByGoodsAll" resultType="com.fx.xzt.sys.model.GoodsModel" parameterType="map" >
        select g.*,case when status=0 then '下线' 
										when status=1 then '上线'
										when status=-1 then '编辑中'
										else '' end statusName,
				   case when GoodsType='00' then '虚拟' 
										when GoodsType='11' then '实物'
										else '' end goodsTypeName
		from Goods g
		<where>
			<if test="goodsName != null and goodsName!='' " >
                and GoodsName like concat(concat('%',#{goodsName,jdbcType=VARCHAR}),'%')
            </if>
            <if test="startTime !=null and startTime!='' ">
				and OnlineTime &gt;=#{startTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime !=null and endTime!='' ">
				and OnlineTime &lt;=#{endTime,jdbcType=TIMESTAMP}
			</if>
			<if test="status != null" >
                and Status = #{status,jdbcType=SMALLINT}
            </if>
            <if test="goodsType != null and goodsType!='' " >
                and GoodsType = #{goodsType,jdbcType=CHAR}
            </if>
		</where>
        order by OnlineTime desc
    </select>
    <update id="edit" parameterType="com.fx.xzt.sys.entity.Goods" >
        update Goods
        <set >
            <if test="goodsCode != null" >
                GoodsCode = #{goodsCode,jdbcType=VARCHAR},
            </if>
            <if test="goodsName != null" >
                GoodsName = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsType != null" >
                GoodsType = #{goodsType,jdbcType=CHAR},
            </if>
            <if test="inventory != null" >
                Inventory = #{inventory,jdbcType=INTEGER},
            </if>
            <if test="UAmt != null" >
                UAmt = #{UAmt,jdbcType=DECIMAL},
            </if>
            <if test="onlineTime != null" >
                OnlineTime = #{onlineTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expiryTime != null" >
                ExpiryTime = #{expiryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="imgPath != null" >
                ImgPath = #{imgPath,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                Status = #{status,jdbcType=SMALLINT},
            </if>
        </set>
        where GoodsID = #{goodsID,jdbcType=CHAR}
    </update>
    <insert id="add" parameterType="com.fx.xzt.sys.entity.Goods" >
        insert into Goods
        <trim prefix="(" suffix=")" suffixOverrides="," >
                GoodsID,
            <if test="goodsCode != null" >
                GoodsCode,
            </if>
            <if test="goodsName != null" >
                GoodsName,
            </if>
            <if test="goodsType != null" >
                GoodsType,
            </if>
            <if test="inventory != null" >
                Inventory,
            </if>
            <if test="UAmt != null" >
                UAmt,
            </if>
            <if test="onlineTime != null" >
                OnlineTime,
            </if>
            <if test="expiryTime != null" >
                ExpiryTime,
            </if>
            <if test="imgPath != null" >
                ImgPath,
            </if>
            <if test="status != null" >
                Status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
                #{goodsID,jdbcType=CHAR},
            <if test="goodsCode != null" >
                #{goodsCode,jdbcType=VARCHAR},
            </if>
            <if test="goodsName != null" >
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsType != null" >
                #{goodsType,jdbcType=CHAR},
            </if>
            <if test="inventory != null" >
                #{inventory,jdbcType=INTEGER},
            </if>
            <if test="UAmt != null" >
                #{UAmt,jdbcType=DECIMAL},
            </if>
            <if test="onlineTime != null" >
                #{onlineTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expiryTime != null" >
                #{expiryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="imgPath != null" >
                #{imgPath,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=SMALLINT},
            </if>
        </trim>
    </insert>
    <delete id="deleteById" parameterType="java.lang.String" >
        delete from Goods
        where GoodsID = #{goodsID,jdbcType=CHAR}
    </delete>
    <!-- <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        GoodsID, GoodsCode, GoodsName, GoodsType, Inventory, UAmt, OnlineTime, ExpiryTime, 
        ImgPath, Status
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fx.xzt.sys.entity.GoodsExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        'false' as QUERYID,
        <include refid="Base_Column_List" />
        from Goods
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from Goods
        where GoodsID = #{goodsID,jdbcType=CHAR}
    </select>

    <delete id="deleteByExample" parameterType="com.fx.xzt.sys.entity.GoodsExample" >
        delete from Goods
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insertSelective" parameterType="com.fx.xzt.sys.entity.Goods" >
        insert into Goods
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="goodsID != null" >
                GoodsID,
            </if>
            <if test="goodsCode != null" >
                GoodsCode,
            </if>
            <if test="goodsName != null" >
                GoodsName,
            </if>
            <if test="goodsType != null" >
                GoodsType,
            </if>
            <if test="inventory != null" >
                Inventory,
            </if>
            <if test="UAmt != null" >
                UAmt,
            </if>
            <if test="onlineTime != null" >
                OnlineTime,
            </if>
            <if test="expiryTime != null" >
                ExpiryTime,
            </if>
            <if test="imgPath != null" >
                ImgPath,
            </if>
            <if test="status != null" >
                Status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="goodsID != null" >
                #{goodsID,jdbcType=CHAR},
            </if>
            <if test="goodsCode != null" >
                #{goodsCode,jdbcType=VARCHAR},
            </if>
            <if test="goodsName != null" >
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsType != null" >
                #{goodsType,jdbcType=CHAR},
            </if>
            <if test="inventory != null" >
                #{inventory,jdbcType=INTEGER},
            </if>
            <if test="UAmt != null" >
                #{UAmt,jdbcType=DECIMAL},
            </if>
            <if test="onlineTime != null" >
                #{onlineTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expiryTime != null" >
                #{expiryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="imgPath != null" >
                #{imgPath,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=SMALLINT},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.fx.xzt.sys.entity.GoodsExample" resultType="java.lang.Integer" >
        select count(*) from Goods
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update Goods
        <set >
            <if test="record.goodsID != null" >
                GoodsID = #{record.goodsID,jdbcType=CHAR},
            </if>
            <if test="record.goodsCode != null" >
                GoodsCode = #{record.goodsCode,jdbcType=VARCHAR},
            </if>
            <if test="record.goodsName != null" >
                GoodsName = #{record.goodsName,jdbcType=VARCHAR},
            </if>
            <if test="record.goodsType != null" >
                GoodsType = #{record.goodsType,jdbcType=CHAR},
            </if>
            <if test="record.inventory != null" >
                Inventory = #{record.inventory,jdbcType=INTEGER},
            </if>
            <if test="record.UAmt != null" >
                UAmt = #{record.UAmt,jdbcType=DECIMAL},
            </if>
            <if test="record.onlineTime != null" >
                OnlineTime = #{record.onlineTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.expiryTime != null" >
                ExpiryTime = #{record.expiryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.imgPath != null" >
                ImgPath = #{record.imgPath,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null" >
                Status = #{record.status,jdbcType=SMALLINT},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update Goods
        set GoodsID = #{record.goodsID,jdbcType=CHAR},
            GoodsCode = #{record.goodsCode,jdbcType=VARCHAR},
            GoodsName = #{record.goodsName,jdbcType=VARCHAR},
            GoodsType = #{record.goodsType,jdbcType=CHAR},
            Inventory = #{record.inventory,jdbcType=INTEGER},
            UAmt = #{record.UAmt,jdbcType=DECIMAL},
            OnlineTime = #{record.onlineTime,jdbcType=TIMESTAMP},
            ExpiryTime = #{record.expiryTime,jdbcType=TIMESTAMP},
            ImgPath = #{record.imgPath,jdbcType=VARCHAR},
            Status = #{record.status,jdbcType=SMALLINT}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.fx.xzt.sys.entity.Goods" >
        update Goods
        <set >
            <if test="goodsCode != null" >
                GoodsCode = #{goodsCode,jdbcType=VARCHAR},
            </if>
            <if test="goodsName != null" >
                GoodsName = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsType != null" >
                GoodsType = #{goodsType,jdbcType=CHAR},
            </if>
            <if test="inventory != null" >
                Inventory = #{inventory,jdbcType=INTEGER},
            </if>
            <if test="UAmt != null" >
                UAmt = #{UAmt,jdbcType=DECIMAL},
            </if>
            <if test="onlineTime != null" >
                OnlineTime = #{onlineTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expiryTime != null" >
                ExpiryTime = #{expiryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="imgPath != null" >
                ImgPath = #{imgPath,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                Status = #{status,jdbcType=SMALLINT},
            </if>
        </set>
        where GoodsID = #{goodsID,jdbcType=CHAR}
    </update> -->
</mapper>