<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fx.xzt.sys.mapper.InfoInforMationMapper" >
  <resultMap id="BaseResultMap" type="com.fx.xzt.sys.entity.InfoInformation" >
    <id column="info_id" property="infoId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="contentpath" property="contentPath" jdbcType="VARCHAR" />
    <result column="content_from_type" property="contentFromType" jdbcType="SMALLINT" />
    <result column="information_from" property="informationFrom" jdbcType="VARCHAR" />
    <result column="createtime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="releasetime" property="releaseTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="SMALLINT" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="imagepath" property="imagePath" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="SMALLINT" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <!--<result column="TopState" property="topState" jdbcType="SMALLINT" />-->
  </resultMap>
  <!--获取满足条件的咨询信息 -tianliya-start-->
  <select id="getByAll" resultType="java.util.Map" parameterType="java.util.Map" >
  	select @rownum:=@rownum+1 as rowNum,info_id as infoId, title, state, createtime, releasetime, operator
    from (select @rownum:=0)r,info_information
    <where>
	    <if test="title != null and title !='' ">
	    	and title like concat(concat('%',#{title,jdbcType=VARCHAR}),'%')
	    </if>
	    <if test="startTime !=null and startTime !='' ">
			and releasetime &gt;=#{startTime,jdbcType=TIMESTAMP}
		</if>
		<if test="endTime !=null and endTime !='' ">
			and releasetime &lt;=#{endTime,jdbcType=TIMESTAMP}
		</if>
		<if test="state != null">
			and state = #{state,jdbcType=SMALLINT}
		</if>
		<if test="operator != null and operator !='' ">
			and operator = #{operator,jdbcType=VARCHAR}
		</if>
    </where>
    order by  releasetime desc
  </select>
  <!--获取满足条件的咨询信息 -tianliya-end-->

    <!--<insert id="posted" parameterType="com.fx.xzt.sys.entity.InfoInforMation" useGeneratedKeys="true" keyProperty="SerialNo">
    insert into Info_Information
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        Title,
      </if>
      <if test="contentpath != null" >
        ContentPath,
      </if>
      <if test="contentfromtype != null" >
        ContentFromType,
      </if>
      <if test="informationfrom != null" >
        InformationFrom,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="releasetime != null" >
        ReleaseTime,
      </if>
      <if test="state != null" >
        State,
      </if>
      <if test="operator != null" >
        Operator,
      </if>
      <if test="topState != null" >
        TopState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="contentpath != null" >
        #{contentpath,jdbcType=VARCHAR},
      </if>
      <if test="contentfromtype != null" >
        #{contentfromtype,jdbcType=SMALLINT},
      </if>
      <if test="informationfrom != null" >
        #{informationfrom,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="releasetime != null" >
        #{releasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=SMALLINT},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="topState != null" >
        #{topState,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  -->

    <!--根据主键查询一条数据-tianliya-start-->
    <select id="getById" resultType="java.util.Map" parameterType="java.lang.Long" >
        select info_id as infoId, title, contentpath as contentPath, content_from_type as contentFromType,
                information_from as informationFrom,
                createTime, releaseTime, state, operator, imagepath as imagePath
        from info_information
        where info_id = #{infoId,jdbcType=BIGINT}
    </select>
    <!--根据主键查询一条数据-tianliya-end-->

    <!--根据主键删除数据-tianliya-start-->
    <delete id="deleteById" parameterType="java.lang.Long" >
        delete from info_information
        where info_id = #{infoId,jdbcType=BIGINT}
    </delete>
    <!--根据主键删除数据-tianliya-end-->

    <!--编辑-tianiya-start-->
    <update id="edit" parameterType="com.fx.xzt.sys.entity.InfoInformation" >
    update info_information
    <set >
      <if test="title != null" >
          title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="contentpath != null" >
          contentpath = #{contentpath,jdbcType=VARCHAR},
      </if>
      <if test="contentFromType != null" >
        content_from_type = #{contentFromType,jdbcType=SMALLINT},
      </if>
      <if test="informationFrom != null" >
        information_from = #{informationFrom,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="releasetime != null" >
        releasetime = #{releasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <!--<if test="topState != null" >
        TopState = #{topState,jdbcType=SMALLINT},
      </if>-->
    </set>
    where info_id = #{infoId,jdbcType=BIGINT}
  </update>
    <!--编辑-tianiya-end-->

    <!--发布资讯-tianliya-start-->
    <!--<insert id="posted" parameterType="com.fx.xzt.sys.entity.InfoInformation">
      insert into info_information (info_id, title, contentpath,
                                      content_from_type, information_from, createtime,
                                      releasetime, imagepath, state,
                                      operator)
      values (#{infoId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{contentpath,jdbcType=VARCHAR},
              #{contentFromType,jdbcType=SMALLINT}, #{informationFrom,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP},
              #{releasetime,jdbcType=TIMESTAMP}, #{imagepath,jdbcType=VARCHAR}, #{state,jdbcType=SMALLINT},
              #{operator,jdbcType=VARCHAR})
    </insert>-->

    <insert id="posted" parameterType="com.fx.xzt.sys.entity.InfoInformation" >
        insert into info_information
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="infoId != null" >
                info_id,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="contentpath != null" >
                contentpath,
            </if>
            <if test="contentFromType != null" >
                content_from_type,
            </if>
            <if test="informationFrom != null" >
                information_from,
            </if>
            <if test="createtime != null" >
                createtime,
            </if>
            <if test="releasetime != null" >
                releasetime,
            </if>
            <if test="imagepath != null" >
                imagepath,
            </if>
            <if test="state != null" >
                state,
            </if>
            <if test="operator != null" >
                operator,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="infoId != null" >
                #{infoId,jdbcType=BIGINT},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="contentpath != null" >
                #{contentpath,jdbcType=VARCHAR},
            </if>
            <if test="contentFromType != null" >
                #{contentFromType,jdbcType=SMALLINT},
            </if>
            <if test="informationFrom != null" >
                #{informationFrom,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null" >
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="releasetime != null" >
                #{releasetime,jdbcType=TIMESTAMP},
            </if>
            <if test="imagepath != null" >
                #{imagepath,jdbcType=VARCHAR},
            </if>
            <if test="state != null" >
                #{state,jdbcType=SMALLINT},
            </if>
            <if test="operator != null" >
                #{operator,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <!--发布资讯-tianliya-end-->

  <!--<update id="editTopState" parameterType="map" >
  	update Info_Information
	set TopState = #{off,jdbcType=INTEGER}
	where TopState = #{stick,jdbcType=INTEGER}
  </update>-->

</mapper>