<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fx.xzt.sys.mapper.InfoXioudeMapper" >
  <resultMap id="BaseResultMap" type="com.fx.xzt.sys.entity.InfoXioude" >
    <id column="info_id" property="infoId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="contentpath" property="contentpath" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="releasetime" property="releasetime" jdbcType="TIMESTAMP" />
    <result column="imagepath" property="imagepath" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="SMALLINT" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
  </resultMap>
  <!--获取希欧德详情-tianliya-start-->
  <select id="selectByInfoXioude" resultType="java.util.Map" parameterType="java.util.Map" >
    select info_id as infoId, title, createtime, releasetime, state, operator
    from info_xioude
    <where>
      <if test="title != null and title !='' ">
        and title like concat(concat('%',#{title,jdbcType=VARCHAR}),'%')
      </if>
      <if test="startTime !=null and startTime !='' ">
        and releasetime &gt;=#{startTime,jdbcType=TIMESTAMP}
      </if>
      <if test="endTime !=null and endTime !='' ">
        and releasetime &lt;=#{endTime,jdbcType=TIMESTAMP}
      </if>
      <if test="state != null">
        and state = #{state,jdbcType=SMALLINT}
      </if>
      <if test="operator != null and operator !='' ">
        and operator = #{operator,jdbcType=VARCHAR}
      </if>
    </where>
    order by releasetime desc
  </select>
  <!--获取希欧德详情-tianliya-end-->

  <!--删除一条希欧德详情 - tianliya -start-->
  <delete id="deleteXioude" >
    delete from info_xioude where info_id = #{infoId,jdbcType=BIGINT}
  </delete>
  <!--删除一条希欧德详情 - tianliya -end-->

  <!--编辑希欧德详情-tianliya-start-->
  <update id="edit" parameterType="java.util.Map" >
    update info_xioude
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="contentpath != null" >
        contentpath = #{contentpath,jdbcType=VARCHAR},
      </if>
      <if test="imagepath != null" >
        imagepath = #{imagepath,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where info_id = #{infoId,jdbcType=BIGINT}
  </update>
  <!--编辑希欧德详情-tianliya-end-->

  <!--获取一条希欧德中心数据-tianliya-start-->
  <select id="selectOneByInfoId" resultType="java.util.Map" parameterType="java.lang.Long">
    SELECT info_id as infoId, title, createtime, releasetime, state, operator, contentpath, imagepath
    FROM info_xioude
    WHERE info_id=#{infoId,jdbcType=BIGINT}
  </select>

  <!--获取一条希欧德中心数据-tianliya-end-->
  <!--获取所有的发布人 tianliya start-->
  <select id="selectOperators" resultType="java.util.Map">
    SELECT DISTINCT(operator) from info_xioude
  </select>
</mapper>