<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fx.xzt.sys.mapper.InfoGoldlessonMapper" >
  <resultMap id="BaseResultMap" type="com.fx.xzt.sys.entity.InfoGoldlesson" >
    <id column="info_id" property="infoId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="contentpath" property="contentpath" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="releasetime" property="releasetime" jdbcType="TIMESTAMP" />
    <result column="imagepath" property="imagepath" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="SMALLINT" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
  </resultMap>
  <!--获取所有的黄金课堂-tianliya-start-->
  <select id="selectByInfoGoldlesson" resultType="java.util.Map" parameterType="java.util.Map" >
    /*SET @rownum=0;*/
    select /*@rownum:=@rownum+1 as rowNum,*/info_id AS infoId,title,state,createtime,releasetime,imagepath,operator
    from info_goldlesson
    <where>

      <if test="title != null">
        AND title=#{title}
      </if>

      <if test="releasetimeStart != null">
        AND releasetime >=#{ releasetimeStart}
      </if>
      <if test="releasetimeEnd != null">
        AND releasetime &lt;= #{ releasetimeEnd}
      </if>

      <if test="state != null">
        AND state=#{state}
      </if>
      <if test="operator != null">
        AND operator=#{operator}
      </if>
    </where>
    ORDER BY createtime
  </select>
  <!--获取所有的黄金课堂-tianliya-end-->

  <!--根据infoId查询一条数据-tianliya-start-->
  <select id="selectOneByInfoId" resultType="java.util.Map" parameterType="java.lang.Long">
    SELECT title,info_id AS infoId,state,releasetime,createtime,operator,contentpath,imagepath
    FROM info_goldlesson
    WHERE info_id = #{infoId,jdbcType=BIGINT}
  </select>
  <!--根据infoId查询一条数据-tianliya-end-->

  <!--根据infoId删除黄金课堂数据 -tianliya-start-->
  <delete id="deleteGoldLesson">
    delete from info_goldlesson
    where info_id = #{infoId,jdbcType=BIGINT}
  </delete>
  <!--根据infoId删除黄金课堂数据 -tianliya-end-->

  <!--根据infoId改变状态-start-tianliya-->
  <update id="releaseGoldLesson" parameterType="java.util.Map">
    UPDATE info_goldlesson
    SET state = 1, operator = #{operator,jdbcType=VARCHAR}
    where info_id = #{infoId,jdbcType=BIGINT}
  </update>
  <!--根据infoId改变状态-start-tianliya-->



  <!--根据infoId修改一条数据-tianliya-start-->
  <update id="edit" parameterType="java.util.Map" >
    update info_goldlesson
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="contentpath != null" >
        contentpath = #{contentpath,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="releasetime != null" >
        releasetime = #{releasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="imagepath != null" >
        imagepath = #{imagepath,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where info_id = #{infoId,jdbcType=BIGINT}
  </update>
  <!--根据infoId修改一条数据-tianliya-start-->
</mapper>