<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fx.xzt.sys.mapper.InfoBannerMapper" >

    <resultMap id="BaseResultMap" type="com.fx.xzt.sys.entity.InfoBanner" >
        <id column="SerialNo" property="serialNo" jdbcType="BIGINT" />
        <result column="Page" property="page" jdbcType="SMALLINT" />
        <result column="PicturePath" property="picturePath" jdbcType="VARCHAR" />
        <result column="AppID" property="appID" jdbcType="VARCHAR" />
        <result column="SkipPath" property="skipPath" jdbcType="VARCHAR" />
        <result column="SkipType" property="skipType" jdbcType="SMALLINT" />
        <result column="Description" property="description" jdbcType="VARCHAR" />
        <result column="SortNo" property="sortNo" jdbcType="INTEGER" />
        <result column="Valid" property="valid" jdbcType="SMALLINT" />
        <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
        <result column="ModifyTime" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="Operator" property="operator" jdbcType="VARCHAR" />
        <result column="agent_id" property="agentId" jdbcType="BIGINT" />
        <result column="broken_id" property="brokerId" jdbcType="BIGINT" />

    </resultMap>
    <sql id="Base_Column_List" >
        SerialNo, Page, PicturePath, AppID, SkipPath, SkipType, Description, SortNo , Valid,
        CreateTime, ModifyTime, Operator, broken_id, agent_id
    </sql>
    <select id="getByPageAll" resultMap="BaseResultMap" parameterType="map" >
        select 
        <include refid="Base_Column_List" />
        from Info_Banner
        <where>
        	 <if test="page != null" >
                and Page = #{page,jdbcType=SMALLINT}
            </if>
            <if test="serialNo != null" >
           		and SerialNo = #{serialNo,jdbcType=BIGINT}
            </if>
        </where>
        order by SortNo ASC
    </select>

    <!--获取用于广告的图片-start-tianliya-->
    <select id="selectAdPic" resultType="java.util.Map" parameterType="java.lang.Short" >

        select SortNo,SerialNo,Page,PicturePath,SkipPath,CreateTime,SkipType,AppID,Description, agent_id agentId, broken_id brokerId,
        (select user_name from users where id = agent_id) agentName,
        (select user_name from users where id = broken_id) brokerName,
        is_login isLogin
        from Info_Banner
        WHERE Page = #{page,jdbcType=SMALLINT} AND valid = 1
        order by SortNo ASC
    </select>
    <!--获取用于广告的图片-end-tianliya-->

    <update id="updateSortNo" parameterType="com.fx.xzt.sys.entity.InfoBanner">
        update Info_Banner set SortNo = #{sortNo,jdbcType=INTEGER} where SerialNo = #{serialNo,jdbcType=BIGINT}
    </update>
	<update id="edit" parameterType="com.fx.xzt.sys.entity.InfoBanner" >
        update Info_Banner
        <set >
            <if test="page != null" >
                Page = #{page,jdbcType=SMALLINT},
            </if>
            <if test="picturePath != null" >
                PicturePath = #{picturePath,jdbcType=VARCHAR},
            </if>
            <if test="appID != null" >
                AppID = #{appID,jdbcType=VARCHAR},
            </if>
            <if test="skipPath != null" >
                SkipPath = #{skipPath,jdbcType=VARCHAR},
            </if>
            <if test="skipType != null" >
                SkipType = #{skipType,jdbcType=SMALLINT},
            </if>
            <if test="description != null" >
                Description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="sortNo != null" >
                SortNo = #{sortNo,jdbcType=INTEGER},
            </if>
            <if test="valid != null" >
                Valid = #{valid,jdbcType=SMALLINT},
            </if>
            <if test="createTime != null" >
                CreateTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null" >
                ModifyTime = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operator != null" >
                Operator = #{operator,jdbcType=VARCHAR},
            </if>
            <if test="agentId != null" >
                agent_id = #{agentId,jdbcType=BIGINT},
            </if>
            <if test="brokerId != null" >
                broken_id = #{brokerId,jdbcType=BIGINT},
            </if>
            <if test="isLogin != null" >
                is_login = #{isLogin,jdbcType=SMALLINT},
            </if>
        </set>
        where SortNo = #{sortNo,jdbcType=BIGINT}
    </update>
    <insert id="add" parameterType="com.fx.xzt.sys.entity.InfoBanner" useGeneratedKeys="true" keyProperty="SerialNo">
        insert into Info_Banner
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="page != null" >
                Page,
            </if>
            <if test="picturePath != null" >
                PicturePath,
            </if>
            <if test="appID != null" >
                AppID,
            </if>
            <if test="skipPath != null" >
                SkipPath,
            </if>
            <if test="skipType != null" >
                SkipType,
            </if>
            <if test="description != null" >
                Description,
            </if>
            <if test="sortNo != null" >
                SortNo,
            </if>
            <if test="valid != null" >
                Valid,
            </if>
            <if test="createTime != null" >
                CreateTime,
            </if>
            <if test="modifyTime != null" >
                ModifyTime,
            </if>
            <if test="operator != null" >
                Operator,
            </if>
            <if test="agentId != null" >
                agent_id,
            </if>
            <if test="brokerId != null" >
                broken_id,
            </if>
            <if test="isLogin != null" >
                is_login,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="page != null" >
                #{page,jdbcType=SMALLINT},
            </if>
            <if test="picturePath != null" >
                #{picturePath,jdbcType=VARCHAR},
            </if>
            <if test="appID != null" >
                #{appID,jdbcType=VARCHAR},
            </if>
            <if test="skipPath != null" >
                #{skipPath,jdbcType=VARCHAR},
            </if>
            <if test="skipType != null" >
                #{skipType,jdbcType=SMALLINT},
            </if>
            <if test="description != null" >
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="sortNo != null" >
                #{sortNo,jdbcType=INTEGER},
            </if>
            <if test="valid != null" >
                #{valid,jdbcType=SMALLINT},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null" >
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operator != null" >
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="agentId != null" >
                #{agentId,jdbcType=BIGINT},
            </if>
            <if test="brokerId != null" >
                #{brokerId,jdbcType=BIGINT},
            </if>
            <if test="isLogin != null" >
                #{isLogin,jdbcType=SMALLINT},
            </if>
        </trim>
        ;update Info_Banner
        set SortNo = @@IDENTITY
        where SerialNo = @@IDENTITY;
    </insert>
    <delete id="deleteBySeriaNo" parameterType="java.lang.Long" >
        delete from Info_Banner
        where SerialNo = #{serialNo,jdbcType=BIGINT}
    </delete>
    <select id="selectBySeriaNo" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        SerialNo serialNo, Page page, PicturePath picturePath, AppID appID, SkipPath skipPath,
        SkipType skipType, Description description, SortNo sortNo, Valid valid,
        CreateTime createTime, ModifyTime modifyTime, Operator operator
        from Info_Banner
        where SerialNo = #{serialNo,jdbcType=BIGINT}
        order by SortNO ASC
    </select>

    <!--根据排序号查询数据 tianliya-->
    <select id="selectBySortNo" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        SerialNo serialNo, Page page, PicturePath picturePath, AppID appID, SkipPath skipPath,
        SkipType skipType, Description description, SortNo sortNo, Valid valid,
        CreateTime createTime, ModifyTime modifyTime, Operator operator
        from Info_Banner
        where SortNo = #{SortNo,jdbcType=INTEGER}
        order by SortNo ASC
    </select>
    <!--根据排序号查询数据 tianliya-->
</mapper>