<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fx.xzt.sys.mapper.InfoGoldlessonMapper" >
  <resultMap id="BaseResultMap" type="com.fx.xzt.sys.entity.InfoGoldlesson" >
    <id column="info_id" property="infoId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="contentpath" property="contentpath" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="releasetime" property="releasetime" jdbcType="TIMESTAMP" />
    <result column="imagepath" property="imagepath" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="SMALLINT" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
  </resultMap>
  <!--获取所有的黄金课堂-tianliya-start-->
  <select id="selectByInfoGoldlesson" resultType="java.util.Map" parameterType="java.util.Map" >
    select info_id AS infoId,title,state,createtime,releasetime,imagepath,operator,contentpath
    from info_goldlesson
    <where>
      <if test="title != null and title !='' ">
        and title like concat(concat('%',#{title,jdbcType=VARCHAR}),'%')
      </if>
      <if test="startTime !=null and startTime !='' ">
        and releasetime &gt;=#{startTime,jdbcType=TIMESTAMP}
      </if>
      <if test="endTime !=null and endTime !='' ">
        and releasetime &lt;=#{endTime,jdbcType=TIMESTAMP}
      </if>
      <if test="state != null">
        and state = #{state,jdbcType=SMALLINT}
      </if>
      <if test="operator != null and operator !='' ">
        and operator = #{operator,jdbcType=VARCHAR}
      </if>
    </where>
    ORDER BY createtime desc
  </select>
  <!--获取所有的黄金课堂-tianliya-end-->

  <!--根据infoId查询一条数据-tianliya-start-->
  <select id="selectOneByInfoId" resultType="java.util.Map" parameterType="java.lang.Long">
    SELECT title,info_id AS infoId,state,releasetime,createtime,operator,contentpath,imagepath
    FROM info_goldlesson
    WHERE info_id = #{infoId,jdbcType=BIGINT}
  </select>
  <!--根据infoId查询一条数据-tianliya-end-->

  <!--根据infoId删除黄金课堂数据 -tianliya-start-->
  <delete id="deleteGoldLesson">
    delete from info_goldlesson
    where info_id = #{infoId,jdbcType=BIGINT}
  </delete>
  <!--根据infoId删除黄金课堂数据 -tianliya-end-->

  <!--根据infoId改变状态-start-tianliya-->
  <update id="releaseGoldLesson" parameterType="java.util.Map">
    UPDATE info_goldlesson
    SET state = 1, operator = #{operator,jdbcType=VARCHAR}, releasetime = now()
    where info_id = #{infoId,jdbcType=BIGINT}
  </update>
  <!--根据infoId改变状态-start-tianliya-->



  <!--根据infoId修改一条数据-tianliya-start-->
  <update id="edit" parameterType="java.util.Map" >
    update info_goldlesson
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="contentPath != null" >
        contentpath = #{contentPath,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="releasetime != null" >
        releasetime = #{releasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="imagePath != null" >
        imagepath = #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where info_id = #{infoId,jdbcType=BIGINT}
  </update>
  <!--根据infoId修改一条数据-tianliya-start-->
  
  <!--发布黄金课堂-tianliya-start-->
  <insert id="posted" parameterType="com.fx.xzt.sys.entity.InfoGoldlesson">
    insert into info_goldlesson
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        title,
      </if>
      <if test="contentpath != null" >
        contentpath,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="releasetime != null" >
        releasetime,
      </if>
      <if test="imagepath != null" >
        imagepath,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="operator != null" >
        operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="contentpath != null" >
        #{contentpath,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="releasetime != null" >
        #{releasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="imagepath != null" >
        #{imagepath,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=SMALLINT},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!--发布黄金课堂-tianliya-end-->

  <!--获取所有的发布人 tianliya start-->
  <select id="selectOperators" resultType="java.util.Map">
    SELECT DISTINCT(operator) from info_goldlesson
  </select>
  <!--获取所有的发布人 tianliya end-->
</mapper>