<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fx.xzt.sys.mapper.InfoInforMationMapper" >
  <resultMap id="BaseResultMap" type="com.fx.xzt.sys.entity.InfoInformation" >
    <id column="info_id" property="infoId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="contentpath" property="contentPath" jdbcType="VARCHAR" />
    <result column="content_from_type" property="contentFromType" jdbcType="SMALLINT" />
    <result column="information_from" property="informationFrom" jdbcType="VARCHAR" />
    <result column="createtime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="releasetime" property="releaseTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="SMALLINT" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="imagepath" property="imagePath" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="SMALLINT" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <!--<result column="TopState" property="topState" jdbcType="SMALLINT" />-->
  </resultMap>
  <!--获取满足条件的咨询信息 -tianliya-start-->
  <select id="getByAll" resultType="java.util.Map" parameterType="java.util.Map" >
  	select @rownum:=@rownum+1 as rowNum,info_id as infoId, title, state, createtime, releasetime, operator
    from (select @rownum:=0)r,info_information
    <where>
	    <if test="title != null and title !='' ">
	    	and title like concat(concat('%',#{title,jdbcType=VARCHAR}),'%')
	    </if>
	    <if test="startTime !=null and startTime !='' ">
			and releasetime &gt;=#{startTime,jdbcType=TIMESTAMP}
		</if>
		<if test="endTime !=null and endTime !='' ">
			and releasetime &lt;=#{endTime,jdbcType=TIMESTAMP}
		</if>
		<if test="state != null">
			and state = #{state,jdbcType=SMALLINT}
		</if>
		<if test="operator != null and operator !='' ">
			and operator = #{operator,jdbcType=VARCHAR}
		</if>
    </where>
    order by  releasetime desc
  </select>
  <!--获取满足条件的咨询信息 -tianliya-end-->

    <!--<insert id="posted" parameterType="com.fx.xzt.sys.entity.InfoInforMation" useGeneratedKeys="true" keyProperty="SerialNo">
    insert into Info_Information
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        Title,
      </if>
      <if test="contentpath != null" >
        ContentPath,
      </if>
      <if test="contentfromtype != null" >
        ContentFromType,
      </if>
      <if test="informationfrom != null" >
        InformationFrom,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="releasetime != null" >
        ReleaseTime,
      </if>
      <if test="state != null" >
        State,
      </if>
      <if test="operator != null" >
        Operator,
      </if>
      <if test="topState != null" >
        TopState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="contentpath != null" >
        #{contentpath,jdbcType=VARCHAR},
      </if>
      <if test="contentfromtype != null" >
        #{contentfromtype,jdbcType=SMALLINT},
      </if>
      <if test="informationfrom != null" >
        #{informationfrom,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="releasetime != null" >
        #{releasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=SMALLINT},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="topState != null" >
        #{topState,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  -->

    <!--根据主键查询一条数据-tianliya-start-->
    <select id="getById" resultType="java.util.Map" parameterType="java.lang.Long" >
        select info_id as infoId, title, contentpath as contentPath, content_from_type as contentFromType,
                information_from as informationFrom,
                createTime, releaseTime, state, operator, imagepath as imagePath
        from info_information
        where info_id = #{infoId,jdbcType=BIGINT}
    </select>
    <!--根据主键查询一条数据-tianliya-end-->

    <!--根据主键删除数据-tianliya-start-->
    <delete id="deleteById" parameterType="java.lang.Long" >
        delete from info_information
        where info_id = #{infoId,jdbcType=BIGINT}
    </delete>
    <!--根据主键删除数据-tianliya-end-->

    <!--编辑咨询-tianiya-start-->
    <update id="edit" parameterType="com.fx.xzt.sys.entity.InfoInformation" >
    update info_information
    <set >
      <if test="title != null" >
          title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="contentpath != null" >
          contentpath = #{contentpath,jdbcType=VARCHAR},
      </if>
      <if test="contentFromType != null" >
        content_from_type = #{contentFromType,jdbcType=SMALLINT},
      </if>
      <if test="informationFrom != null" >
        information_from = #{informationFrom,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="releasetime != null" >
        releasetime = #{releasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <!--<if test="topState != null" >
        TopState = #{topState,jdbcType=SMALLINT},
      </if>-->
    </set>
    where info_id = #{infoId,jdbcType=BIGINT}
  </update>
    <!--编辑咨询-tianiya-end-->
  <!--<update id="editTopState" parameterType="map" >
  	update Info_Information
	set TopState = #{off,jdbcType=INTEGER}
	where TopState = #{stick,jdbcType=INTEGER}
  </update>-->
<!--   <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fx.xzt.sys.entity.InfoInforMationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Info_Information
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.fx.xzt.sys.entity.InfoInforMationExample" >
    delete from Info_Information
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.fx.xzt.sys.entity.InfoInforMationExample" resultType="java.lang.Integer" >
    select count(*) from Info_Information
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Info_Information
    <set >
      <if test="record.serialno != null" >
        SerialNo = #{record.serialno,jdbcType=BIGINT},
      </if>
      <if test="record.title != null" >
        Title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.contentpath != null" >
        ContentPath = #{record.contentpath,jdbcType=VARCHAR},
      </if>
      <if test="record.contentfromtype != null" >
        ContentFromType = #{record.contentfromtype,jdbcType=SMALLINT},
      </if>
      <if test="record.informationfrom != null" >
        InformationFrom = #{record.informationfrom,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.releasetime != null" >
        ReleaseTime = #{record.releasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null" >
        State = #{record.state,jdbcType=SMALLINT},
      </if>
      <if test="record.operator != null" >
        Operator = #{record.operator,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Info_Information
    set SerialNo = #{record.serialno,jdbcType=BIGINT},
      Title = #{record.title,jdbcType=VARCHAR},
      ContentPath = #{record.contentpath,jdbcType=VARCHAR},
      ContentFromType = #{record.contentfromtype,jdbcType=SMALLINT},
      InformationFrom = #{record.informationfrom,jdbcType=VARCHAR},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      ReleaseTime = #{record.releasetime,jdbcType=TIMESTAMP},
      State = #{record.state,jdbcType=SMALLINT},
      Operator = #{record.operator,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fx.xzt.sys.entity.InfoInforMation" >
    update Info_Information
    set Title = #{title,jdbcType=VARCHAR},
      ContentPath = #{contentpath,jdbcType=VARCHAR},
      ContentFromType = #{contentfromtype,jdbcType=SMALLINT},
      InformationFrom = #{informationfrom,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      ReleaseTime = #{releasetime,jdbcType=TIMESTAMP},
      State = #{state,jdbcType=SMALLINT},
      Operator = #{operator,jdbcType=VARCHAR}
    where SerialNo = #{serialno,jdbcType=BIGINT}
  </update> -->
</mapper>