<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fx.xzt.sys.mapper.InOutGoldMapper">
	<!--出入金查询开始-htt -->
	<select id="selectByInOutGold" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT a.user_id userId,l.UserName userName,i.RealName realName,
		i.agent_id AS agentId, ua.user_name AS agentName, i.broker_id AS brokerId, ub.user_name AS brokerName,
		a.finance,a.total_income totalIncome,r.rj,c.cj,sj.sjAmount,cb.cbf
		FROM User_Login l
		LEFT JOIN user_account a ON a.user_id = l.UserID
		LEFT JOIN User_Info i ON l.UserID = i.UserID
		LEFT JOIN users ua ON i.agent_id = ua.id
		LEFT JOIN users ub ON i.broker_id = ub.id
		LEFT JOIN (SELECT UserID, SUM(RMBAmt) rj FROM User_Recharge WHERE STATUS=1 GROUP BY UserID) r ON r.UserID = a.user_id
		LEFT JOIN (SELECT UserID, SUM(WithdrawAmt) cj FROM User_WithdrawCash GROUP BY UserID) c ON c.UserID = a.user_id
		LEFT JOIN (SELECT user_id,SUM(rmb_amount) sjAmount FROM real_gold_order GROUP BY user_id) sj ON sj.user_id = a.user_id
		LEFT JOIN (
		SELECT cbf.user_id,SUM(cbf.cbf) cbf FROM (SELECT user_id, fee cbf FROM real_gold_order 
		UNION
		SELECT user_id, poundage cbf FROM gold_redeem
		UNION
		SELECT user_id,fee+insurance cbf FROM gold_withdraw) cbf GROUP BY cbf.user_id) cb ON cb.user_id = a.user_id
		<where>
			and l.Status = 1
			<if test="userName != null and userName!='' ">
				and l.UserName = #{userName,jdbcType=VARCHAR}
			</if>
			<if test="agentName != null and agentName !='' ">
				and ua.id = #{agentName,jdbcType=VARCHAR}
			</if>
			<if test="brokerName != null and brokerName !='' ">
				and ub.id = #{brokerName,jdbcType=VARCHAR}
			</if>
		</where>
		order by i.RegisterTime desc
	</select>
	<!--出入金查询结束 -->
	
	<!--出入金分析-支付渠道分析开始-htt -->
	<select id="selectByRechargeChannel" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT RechargeChannel rechargeChannel, DATE_FORMAT(RechargeTime,'%Y-%c-%d') rechargeTime, SUM(RMBAmt) rmbAmt
		FROM User_Recharge 
		<where>
			and STATUS = 1 
			<if test="startTime !=null and startTime !='' ">
              and DATE_FORMAT(RechargeTime,'%Y-%c-%d') &gt;=#{startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="endTime !=null and endTime != '' ">
              and DATE_FORMAT(RechargeTime,'%Y-%c-%d') &lt;#{endTime,jdbcType=TIMESTAMP}
           </if>
		</where>
		GROUP BY RechargeChannel,DATE_FORMAT(RechargeTime,'%Y-%m-%d')
	</select>
	<!--出入金分析-支付渠道分析结束 -->
	
	<!--出入金分析-运营商出入金分析开始-htt -->
	<select id="selectByAgent" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			a.agentName,
			SUM(a.rjSum),
			SUM(a.cjSum)
		FROM
			(
				SELECT
					u.user_name agentName,
					(
						SELECT
							SUM(RMBAmt) rj
						FROM
							User_Recharge r
						WHERE
							r. STATUS = 1
						AND r.UserID = i.UserID
						<if test="startTime !=null and startTime !='' ">
							 and DATE_FORMAT(RechargeTime,'%Y-%m-%d %H:%i:%s') &gt;=#{startTime,jdbcType=TIMESTAMP}
						</if>
						<if test="endTime !=null and endTime != '' ">
			              and DATE_FORMAT(RechargeTime,'%Y-%m-%d %H:%i:%s') &lt;#{endTime,jdbcType=TIMESTAMP}
			           </if>
					) rjSum,
					(
						SELECT
							SUM(WithdrawAmt) cj
						FROM
							User_WithdrawCash c
						WHERE
							c. STATUS = 1
						AND c.UserID = i.UserID
						<if test="startTime !=null and startTime !='' ">
							 and DATE_FORMAT(WithdrawTime,'%Y-%m-%d %H:%i:%s') &gt;=#{startTime,jdbcType=TIMESTAMP}
						</if>
						<if test="endTime !=null and endTime != '' ">
			              and DATE_FORMAT(WithdrawTime,'%Y-%m-%d %H:%i:%s') &lt;#{endTime,jdbcType=TIMESTAMP}
			           </if>
					) cjSum
				FROM
					User_Info i
				LEFT JOIN User_Login l ON i.UserID = l.UserID
				LEFT JOIN users u ON i.agent_id = u.id
				WHERE
					i.agent_id IS NOT NULL
				AND l. STATUS = 1
			) a
		WHERE
			a.rjSum IS NOT NULL
		OR a.cjSum IS NOT NULL
		GROUP BY
			a.agentName		
	</select>
	<!--出入金分析-运营商出入金分析结束 -->
	
	<!--出入金分析-运营商净入金分析开始-htt -->
	<select id="selectByAgentNet" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			a.agentName,
			IFNULL(SUM(a.rjSum),0)-IFNULL(SUM(a.cjSum),0)
		FROM
			(
				SELECT
					u.user_name agentName,
					(
						SELECT
							SUM(RMBAmt) rj
						FROM
							User_Recharge r
						WHERE
							r. STATUS = 1
						AND r.UserID = i.UserID
						<if test="startTime !=null and startTime !='' ">
							 and DATE_FORMAT(RechargeTime,'%Y-%m-%d %H:%i:%s') &gt;=#{startTime,jdbcType=TIMESTAMP}
						</if>
						<if test="endTime !=null and endTime != '' ">
			              and DATE_FORMAT(RechargeTime,'%Y-%m-%d %H:%i:%s') &lt;#{endTime,jdbcType=TIMESTAMP}
			           </if>
					) rjSum,
					(
						SELECT
							SUM(WithdrawAmt) cj
						FROM
							User_WithdrawCash c
						WHERE
							c. STATUS = 1
						AND c.UserID = i.UserID
						<if test="startTime !=null and startTime !='' ">
							 and DATE_FORMAT(WithdrawTime,'%Y-%m-%d %H:%i:%s') &gt;=#{startTime,jdbcType=TIMESTAMP}
						</if>
						<if test="endTime !=null and endTime != '' ">
			              and DATE_FORMAT(WithdrawTime,'%Y-%m-%d %H:%i:%s') &lt;#{endTime,jdbcType=TIMESTAMP}
			           </if>
					) cjSum
				FROM
					User_Info i
				LEFT JOIN User_Login l ON i.UserID = l.UserID
				LEFT JOIN users u ON i.agent_id = u.id
				WHERE
					i.agent_id IS NOT NULL
				AND l. STATUS = 1
			) a
		WHERE
			a.rjSum IS NOT NULL
		OR a.cjSum IS NOT NULL
		GROUP BY
			a.agentName	
		
	</select>
	<!--出入金分析-运营商净入金分析结束 -->

</mapper>