<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fx.xzt.sys.mapper.InVestGoldOrderMapper">

    <!--金条投资订单开始-htt-->
    <select id="selectByAll" resultType="java.util.Map" parameterType="java.util.Map">

		select
		<if test='isView == "1"'>
			u.UserName userName,
	    </if>
	    <if test='isView != "1"'>
			INSERT(u.UserName, 4, 4, '****') userName,
	    </if>
		cast(o.id as CHAR) id, cast(o.user_id as CHAR) userId, o.invest_gold_id investGoldId, o.invest_gold_name
		investGoldName, o.invest_gold_weight investGoldWeight,
		o.invest_gold_service investGoldService, o.logistics_fee logisticsFee, o.logistics_no logisticsNo, o.gold_num
		goldNum,
		o.gold_total_weight goldTotalWeight, o.pay_type payType, o.gold_base_price goldBasePrice, o.processing_service processingService,
		o.invoice_service invoiceService,o.total_money totalMoney,
		 o.gold_money goldMoney, o.service_money serviceMoney, o.img_url imgUrl,
		o.status, o.create_time createTime, o.send_time sendTime, o.update_time updateTime, DATE_FORMAT(o.pay_time,'%Y-%m-%d %H:%i:%s') payTime,
		o.agent_id AS agentId, ua.user_name AS agentName, o.broker_id AS brokerId, ub.user_name AS brokerName,
		a.contact_name contactName, a.contact_phone contactPhone, a.delivery_address deliveryAddress
		from invest_gold_order o
		LEFT JOIN User_Login u ON o.user_id = u.UserID
		LEFT JOIN user_address a on o.user_address_id = a.id
		LEFT JOIN users ua ON o.agent_id = ua.id
		LEFT JOIN users ub ON o.broker_id = ub.id

		<where>
    	 o.status != 0 and  o.pay_type between 1 and 2
    	<if test="userName != null and userName != '' ">
	    	and u.UserName = #{userName,jdbcType=VARCHAR}
	    </if>
	    <if test="startTime !=null and startTime !='' ">
	    	and o.create_time &gt;=#{startTime,jdbcType=TIMESTAMP}
	    </if>
	    <if test="endTime !=null and endTime != '' ">
	    	and o.create_time &lt;=#{endTime,jdbcType=TIMESTAMP}
	    </if>
	    <if test="status != null">
	    	and o.status = #{status,jdbcType=INTEGER}
	    </if>
	    <if test="payType != null">
	    	and o.pay_type = #{payType,jdbcType=INTEGER}
	    </if>
	    <if test="agentName != null and agentName !='' ">
	    	and ua.id = #{agentName,jdbcType=BIGINT}
	    </if>
	    <if test="brokerName != null and brokerName !='' ">
	    	and ub.id = #{brokerName,jdbcType=BIGINT}
	    </if>
    </where>
    
    order by o.create_time DESC
    </select>
    <!--金条投资订单结束-htt-->

	<!--金权交割  liaijiao-->
	<select id="selectByAllDelivery" resultType="java.util.Map" parameterType="java.util.Map">

		select
		<if test='isView == "1"'>
			u.UserName userName,
		</if>
		<if test='isView != "1"'>
			INSERT(u.UserName, 4, 4, '****') userName,
		</if>
		cast(o.id as CHAR) id, cast(o.user_id as CHAR) userId, o.invest_gold_id investGoldId, o.invest_gold_name
		investGoldName, o.invest_gold_weight investGoldWeight,
		o.invest_gold_service investGoldService, o.logistics_fee logisticsFee, o.logistics_no logisticsNo, o.gold_num
		goldNum,
		o.gold_total_weight goldTotalWeight, o.pay_type payType, o.gold_base_price goldBasePrice, o.processing_service processingService,
		(select invoice_service from invest_gold_order where id= o.id and invoice = 1) invoiceService,
		o.total_money totalMoney,
		(select (gold_money*0.05+gold_total_weight*5) from invest_gold_order where id = o.id  and pay_type = 3 ) discountAmount,
		DATE_FORMAT((select update_time from invest_gold_order  where id= o.id and status BETWEEN 30 and 50),'%Y-%m-%d %H:%i:%s') endTime,
		(select service_money from invest_gold_order where id = o.id and pay_type BETWEEN 3 and 5 ) actualPayment,
		o.gold_money goldMoney, o.service_money serviceMoney, o.img_url imgUrl,
		o.status, o.create_time createTime, o.send_time sendTime, o.update_time updateTime, DATE_FORMAT(o.pay_time,'%Y-%m-%d %H:%i:%s') payTime,
		o.agent_id AS agentId, ua.user_name AS agentName, o.broker_id AS brokerId, ub.user_name AS brokerName,
		o.deliver_name contactName, o.deliver_phone contactPhone, o.user_address deliveryAddress
		from invest_gold_order o
		LEFT JOIN User_Login u ON o.user_id = u.UserID
		LEFT JOIN user_address a on o.user_address_id = a.id
		LEFT JOIN users ua ON o.agent_id = ua.id
		LEFT JOIN users ub ON o.broker_id = ub.id

		<where>
			 o.status in (0,10,20,30,100) and  o.pay_type between 3 and 5
			<if test="userName != null and userName != '' ">
				and u.UserName = #{userName,jdbcType=VARCHAR}
			</if>
			<if test="startTime !=null and startTime !='' ">
				and o.create_time &gt;=#{startTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime !=null and endTime != '' ">
				and o.create_time &lt;=#{endTime,jdbcType=TIMESTAMP}
			</if>
			<if test="status != null">
				and o.status  = #{status,jdbcType=INTEGER}
			</if>
			<if test="payType != null">
				and o.pay_type = #{payType,jdbcType=INTEGER}
			</if>
			<if test="agentName != null and agentName !='' ">
				and ua.id = #{agentName,jdbcType=BIGINT}
			</if>
			<if test="brokerName != null and brokerName !='' ">
				and ub.id = #{brokerName,jdbcType=BIGINT}
			</if>
		</where>

		order by o.create_time DESC
	</select>



    <!--金条投资订单统计开始-htt-->
    <select id="countByAll" resultType="java.util.Map" parameterType="java.util.Map">
    select 
    	sum(o.logistics_fee) logisticsFeeSum, sum(o.service_money) serviceMoneySum,sum(o.invest_gold_service) investGoldServiceSum, sum(o.gold_total_weight) goldNumSum
	from invest_gold_order o
	LEFT JOIN User_Login u ON o.user_id = u.UserID
    LEFT JOIN users ua ON o.agent_id = ua.id 
    LEFT JOIN users ub ON o.broker_id = ub.id
    <where>
    	 o.status in (10,20,30) and o.pay_type between 1 and 2
    	<if test="userName != null and userName != '' ">
	    	and u.UserName = #{userName,jdbcType=VARCHAR}
	    </if>
	    <if test="startTime !=null and startTime !='' ">
	    	and o.create_time &gt;=#{startTime,jdbcType=TIMESTAMP}
	    </if>
	    <if test="endTime !=null and endTime != '' ">
	    	and o.create_time &lt;=#{endTime,jdbcType=TIMESTAMP}
	    </if>
	    <if test="status != null">
	    	and o.status = #{status,jdbcType=INTEGER}
	    </if>
	    <if test="payType != null">
	    	and o.pay_type = #{payType,jdbcType=INTEGER}
	    </if>
	    <if test="agentName != null and agentName !='' ">
	    	and ua.id = #{agentName,jdbcType=BIGINT}
	    </if>
	    <if test="brokerName != null and brokerName !='' ">
	    	and ub.id = #{brokerName,jdbcType=BIGINT}
	    </if>
    </where>
    </select>
    <!--金条投资订单统计结束-htt-->
	<!--金权交割订单统计开始-htt-->
	<select id="countByAllDelivery" resultType="java.util.Map" parameterType="java.util.Map">
		select
		sum(o.logistics_fee) logisticsFeeSum, sum(o.service_money) serviceMoneySum,sum(o.invest_gold_service) investGoldServiceSum,
		sum(o.gold_money) goldMoneySum,sum(o.processing_service) processingServiceSum,
		(select sum(invoice_service) from invest_gold_order
		where user_id = o.user_id	AND invoice = 1
		) invoiceServiceSum,
		sum( gold_total_weight)  goldNumSum
		from invest_gold_order o
		LEFT JOIN User_Login u ON o.user_id = u.UserID
		LEFT JOIN users ua ON o.agent_id = ua.id
		LEFT JOIN users ub ON o.broker_id = ub.id
		<where>
			o.status in (0,10,20,30,100) and o.pay_type between 3 and 5
			<if test="userName != null and userName != '' ">
				and u.UserName = #{userName,jdbcType=VARCHAR}
			</if>
			<if test="startTime !=null and startTime !='' ">
				and o.create_time &gt;=#{startTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime !=null and endTime != '' ">
				and o.create_time &lt;=#{endTime,jdbcType=TIMESTAMP}
			</if>
			<if test="status != null">
				and o.status = #{status,jdbcType=INTEGER}
			</if>
			<if test="payType != null">
				and o.pay_type = #{payType,jdbcType=INTEGER}
			</if>
			<if test="agentName != null and agentName !='' ">
				and ua.id = #{agentName,jdbcType=BIGINT}
			</if>
			<if test="brokerName != null and brokerName !='' ">
				and ub.id = #{brokerName,jdbcType=BIGINT}
			</if>
		</where>
	</select>
	<!--金条投资订单统计结束-htt-->
    <!-- 金条投资订单修改开始-htt -->
	<update id="updateById" parameterType="com.fx.xzt.sys.entity.InVestGoldOrder">
    	update invest_gold_order
    	<set>
	        <if test="sendTime != null">
	        	send_time = #{sendTime,jdbcType=TIMESTAMP},
	        </if>
	        <if test="status != null and status !=''">
	        	status = #{status,jdbcType=SMALLINT},
	        </if>
	        <if test="logisticsNo != null and logisticsNo !=''">
	        	logistics_no = #{logisticsNo,jdbcType=VARCHAR},
	        </if>
	        <if test="updateTimeStr != null and updateTimeStr !=''">
	        	update_time =#{updateTimeStr,jdbcType=TIMESTAMP},
	        </if>
    	</set>
    	where id = #{id,jdbcType=BIGINT}
  </update>
	<!-- 金条投资订单修改结束-htt -->

</mapper>
