<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fx.xzt.sys.mapper.InviteRegisterRecordMapper">
    <!--邀请注册记录查询  liaijiao-->
    <select id="selectAllRecords" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT irr.id id,irr.share_userid shareUserid,

        <if test='isView == "1"'>
            ul.UserName shareUserName,
        </if>
        <if test='isView != "1"'>
            INSERT(ul.UserName, 4, 4, '****') shareUserName,
        </if>
        irr.new_userid newUserid,
        <if test='isView == "1"'>
            ul2.UserName newUserName,
        </if>
        <if test='isView != "1"'>
            INSERT(ul2.UserName, 4, 4, '****') newUserName,
        </if>
        irr.accept_prize acceptPrize,irr.create_time createTime,irr.update_time updateTime,
        irr.remark remark,ua.id agentId,ua.user_name agentName,ub.id brokerId,ub.user_name brokerName
        FROM invite_register_record AS irr
        LEFT JOIN User_Login ul ON irr.share_userid=ul.UserID
        LEFT JOIN User_Login ul2 ON irr.new_userid=ul2.UserID
        LEFT JOIN users ua ON ul2.agent_id = ua.id
        LEFT JOIN users ub ON ul2.broker_id = ub.id
       WHERE 1=1
        <if test="userName != null and userName != '' ">
            and ul.UserName = #{userName,jdbcType=VARCHAR}
        </if>
       <!-- <if test="newUserName != null and newUserName != '' ">
            and ul2.UserName = #{newUserName,jdbcType=VARCHAR}
        </if>-->
        <if test="startTime !=null and startTime !='' ">
            and irr.create_time &gt;=#{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime !=null and endTime != '' ">
            and irr.create_time &lt;=#{endTime,jdbcType=TIMESTAMP}
        </if>
        <if test="acceptPrize != null and acceptPrize != '' ">
            and irr.accept_prize = #{acceptPrize,jdbcType=INTEGER}
        </if>
        <if test="agentName != null">
            and ua.id in
            <foreach collection="agentName" index="index" item="item" open="(" separator="," close=")" >
                <if test="item != null">
                    ${item}
                </if>
            </foreach>
        </if>
        <if test="brokerName != null">
            and ub.id  in
            <foreach collection="brokerName" index="index" item="item" open="(" separator="," close=")" >
                <if test="item != null">
                    ${item}
                </if>
            </foreach>
        </if>
        <!--<if test="agentName != null and agentName !='' ">
            and ua.id = #{agentName,jdbcType=BIGINT}
        </if>
        <if test="brokerName != null and brokerName !='' ">
            and ub.id = #{brokerName,jdbcType=BIGINT}
        </if>-->

       order BY irr.create_time DESC


    </select>

    <!--获取已领奖的最新的交易时间-->
    <select id="getLastTime" parameterType="java.util.Map" resultType="java.lang.String">
        select buy_time lastTime
        from inviter_reward_record
        where userId = #{userId,jdbcType=BIGINT} and type = #{buyType,jdbcType=SMALLINT}
        order by buy_time desc
        limit 1;
    </select>

    <!--查询未领取的克重-->
    <select id="getUnreceivedGram" parameterType="java.util.Map" resultType="java.util.Map">
        select sum(hand_number) unreceivedGram
        from deal_order
        where user_id = #{userId,jdbcType=BIGINT}
        <if test="lastTime != null and lastTime != ''">
            and create_time > #{lastTime,jdbcType=TIMESTAMP}
        </if>
    </select>

    <select id="getUnreceivedGramForGold" parameterType="java.util.Map" resultType="java.util.Map">
        select sum(gram) unreceivedGram
        from finance_regulargold_order
        where user_id = #{userId,jdbcType=BIGINT}
        <if test="lastTime != null and lastTime != ''">
            and buy_time > #{lastTime,jdbcType=TIMESTAMP}
        </if>

    </select>
    <!--已领取的黄金克重-->
    <select id="getReceivedGram" parameterType="java.lang.Long" resultType="java.util.Map">
     select sum(reward_gram) gram from inviter_reward_record where type=2 and userId = #{userId,jdbcType=BIGINT};

    </select>

    <!--已领取的人民币-->
    <select id="getReceivedMoney" parameterType="java.lang.Long" resultType="java.util.Map">
        select sum(reward_money) money from inviter_reward_record where type=1 and userId = #{userId,jdbcType=BIGINT};
    </select>

    <!--获取点差-->
    <select id="selectPointCont" resultType="java.util.Map">
        select point_count pointCont from gold_right_deal_conf
    </select>

    <!--邀友返佣记录查询-->
    <select id="selectInviteFriendsRecords" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT irr.id id,irr.inviter_id inviterId,

        <if test='isView == "1"'>
            ul.UserName inviterName,
        </if>
        <if test='isView != "1"'>
            INSERT(ul.UserName, 4, 4, '****') inviterName,
        </if>
        irr.userId userId,
        <if test='isView == "1"'>
            ul2.UserName userName,
        </if>
        <if test='isView != "1"'>
            INSERT(ul2.UserName, 4, 4, '****') userName,
        </if>
        irr.expire_time expireTime,irr.buy_time buyTime
        ,irr.reward_money rewardMoney
        FROM inviter_reward_record AS irr
        LEFT JOIN User_Login ul ON irr.inviter_id=ul.UserID
        LEFT JOIN User_Login ul2 ON irr.userId=ul2.UserID
        LEFT JOIN users ua ON ul2.agent_id = ua.id
        LEFT JOIN users ub ON ul2.broker_id = ub.id
        WHERE 1=1
        <if test="userName != null and userName != '' ">
            and ul.UserName = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="startTime !=null and startTime !='' ">
            and irr.buy_time &gt;=#{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime !=null and endTime != '' ">
            and irr.buy_time &lt;=#{endTime,jdbcType=TIMESTAMP}
        </if>
        <if test="agentName != null">
            and ua.id in
            <foreach collection="agentName" index="index" item="item" open="(" separator="," close=")" >
                <if test="item != null">
                    ${item}
                </if>
            </foreach>
        </if>
        <if test="brokerName != null">
            and ub.id  in
            <foreach collection="brokerName" index="index" item="item" open="(" separator="," close=")" >
                <if test="item != null">
                    ${item}
                </if>
            </foreach>
        </if>
        <!--<if test="agentName != null and agentName !='' ">
            and ua.id = #{agentName,jdbcType=BIGINT}
        </if>
        <if test="brokerName != null and brokerName !='' ">
            and ub.id = #{brokerName,jdbcType=BIGINT}
        </if>-->
        and (irr.buy_time BETWEEN '2018-11-01' AND '2018-12-31')
        order BY irr.buy_time DESC

    </select>

</mapper>