<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fx.xzt.sys.mapper.UserMessageMapper" >
  <resultMap id="BaseResultMap" type="com.fx.xzt.sys.entity.UserMessage" >
    <result column="msgID" property="msgID" jdbcType="BIGINT" />
    <result column="userID" property="userID" jdbcType="BIGINT" />
    <result column="msgTypeID" property="msgTypeID" jdbcType="CHAR" />
    <result column="msgTime" property="msgTime" jdbcType="TIMESTAMP" />
    <result column="msgContent" property="msgContent" jdbcType="VARCHAR" />
    <result column="appID" property="appID" jdbcType="VARCHAR" />
    <result column="skipPath" property="skipPath" jdbcType="VARCHAR" />
    <result column="skipType" property="skipType" jdbcType="SMALLINT" />
    <result column="msgFrom" property="msgFrom" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectByAll" resultType="com.fx.xzt.sys.model.UserMessageModel" parameterType="map" >
    select t.MsgType as msgType,i.UserName as userName,m.*
	from User_Message m
	left join User_Login i on m.UserID = i.UserID
	left join Message_Type t on t.MsgTypeID = m.MsgTypeID
  </select>
  <!-- <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    msgID, userID, msgTypeID, msgTime, msgContent, appID, skipPath, skipType, msgFrom
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fx.xzt.sys.entity.UserMessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from User_Message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.fx.xzt.sys.entity.UserMessageExample" >
    delete from User_Message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fx.xzt.sys.entity.UserMessage" >
    insert into User_Message (msgID, userID, msgTypeID, 
      msgTime, msgContent, appID, 
      skipPath, skipType, msgFrom
      )
    values (#{msgID,jdbcType=BIGINT}, #{userID,jdbcType=BIGINT}, #{msgTypeID,jdbcType=CHAR}, 
      #{msgTime,jdbcType=TIMESTAMP}, #{msgContent,jdbcType=VARCHAR}, #{appID,jdbcType=VARCHAR}, 
      #{skipPath,jdbcType=VARCHAR}, #{skipType,jdbcType=SMALLINT}, #{msgFrom,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fx.xzt.sys.entity.UserMessage" >
    insert into User_Message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="msgID != null" >
        msgID,
      </if>
      <if test="userID != null" >
        userID,
      </if>
      <if test="msgTypeID != null" >
        msgTypeID,
      </if>
      <if test="msgTime != null" >
        msgTime,
      </if>
      <if test="msgContent != null" >
        msgContent,
      </if>
      <if test="appID != null" >
        appID,
      </if>
      <if test="skipPath != null" >
        skipPath,
      </if>
      <if test="skipType != null" >
        skipType,
      </if>
      <if test="msgFrom != null" >
        msgFrom,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="msgID != null" >
        #{msgID,jdbcType=BIGINT},
      </if>
      <if test="userID != null" >
        #{userID,jdbcType=BIGINT},
      </if>
      <if test="msgTypeID != null" >
        #{msgTypeID,jdbcType=CHAR},
      </if>
      <if test="msgTime != null" >
        #{msgTime,jdbcType=TIMESTAMP},
      </if>
      <if test="msgContent != null" >
        #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="appID != null" >
        #{appID,jdbcType=VARCHAR},
      </if>
      <if test="skipPath != null" >
        #{skipPath,jdbcType=VARCHAR},
      </if>
      <if test="skipType != null" >
        #{skipType,jdbcType=SMALLINT},
      </if>
      <if test="msgFrom != null" >
        #{msgFrom,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fx.xzt.sys.entity.UserMessageExample" resultType="java.lang.Integer" >
    select count(*) from User_Message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update User_Message
    <set >
      <if test="record.msgID != null" >
        msgID = #{record.msgID,jdbcType=BIGINT},
      </if>
      <if test="record.userID != null" >
        userID = #{record.userID,jdbcType=BIGINT},
      </if>
      <if test="record.msgTypeID != null" >
        msgTypeID = #{record.msgTypeID,jdbcType=CHAR},
      </if>
      <if test="record.msgTime != null" >
        msgTime = #{record.msgTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.msgContent != null" >
        msgContent = #{record.msgContent,jdbcType=VARCHAR},
      </if>
      <if test="record.appID != null" >
        appID = #{record.appID,jdbcType=VARCHAR},
      </if>
      <if test="record.skipPath != null" >
        skipPath = #{record.skipPath,jdbcType=VARCHAR},
      </if>
      <if test="record.skipType != null" >
        skipType = #{record.skipType,jdbcType=SMALLINT},
      </if>
      <if test="record.msgFrom != null" >
        msgFrom = #{record.msgFrom,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update User_Message
    set msgID = #{record.msgID,jdbcType=BIGINT},
      userID = #{record.userID,jdbcType=BIGINT},
      msgTypeID = #{record.msgTypeID,jdbcType=CHAR},
      msgTime = #{record.msgTime,jdbcType=TIMESTAMP},
      msgContent = #{record.msgContent,jdbcType=VARCHAR},
      appID = #{record.appID,jdbcType=VARCHAR},
      skipPath = #{record.skipPath,jdbcType=VARCHAR},
      skipType = #{record.skipType,jdbcType=SMALLINT},
      msgFrom = #{record.msgFrom,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update> -->
</mapper>