<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fx.xzt.sys.mapper.UserWithdrawCashMapper" >
  <resultMap id="BaseResultMap" type="com.fx.xzt.sys.entity.UserWithdrawCash" >
    <id column="WithdrawID" property="withdrawid" jdbcType="CHAR" />
    <result column="UserID" property="userid" jdbcType="BIGINT" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="WithdrawAmt" property="withdrawamt" jdbcType="INTEGER" />
    <result column="AccountNum" property="accountnum" jdbcType="VARCHAR" />
    <result column="WithdrawTime" property="withdrawtime" jdbcType="TIMESTAMP" />
    <result column="FinishTime" property="finishtime" jdbcType="TIMESTAMP" />
    <result column="Status" property="status" jdbcType="SMALLINT" />
    <result column="poundage" property="poundage" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    WithdrawID, w.UserID, w.UserName, w.WithdrawAmt, w.AccountNum, w.WithdrawTime, w.FinishTime, 
    w.Status
  </sql>
  
	<!-- 现金提取查询开始-htt -->
	<select id="selectByWithdrawCash" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT w.WithdrawID withdrawID,cast(w.UserID  as CHAR) userID,w.UserName userName,w.WithdrawAmt withdrawAmt,
		w.AccountNum accountNum,w.WithdrawTime withdrawTime,w.FinishTime finishTime,w.Status status,w.type,w.poundage,
		w.agent_id AS agentId, ua.user_name AS agentName, w.broker_id AS
		brokerId,
		ub.user_name AS brokerName,
		i.RealName realName,b.BankName bankName
		FROM User_WithdrawCash w
		LEFT JOIN User_Login u ON w.UserID = u.UserID
		LEFT JOIN User_Info i ON w.UserID = i.UserID
		LEFT JOIN users ua ON w.agent_id = ua.id
		LEFT JOIN users ub ON w.broker_id = ub.id
		LEFT JOIN User_BankCard c on w.AccountNum = c.AccountNum and c.UserID = w.UserID
		LEFT JOIN Bank b on c.BankNo = b.BankNo
		<where>
			<!--   and u.Status = 1 -->
			<if test="userName != null and userName != '' ">
				and u.UserName = #{userName,jdbcType=VARCHAR}
			</if>
			<if test="startTime !=null and startTime !='' ">
				and w.WithdrawTime &gt;=#{startTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime !=null and endTime != '' ">
				and w.WithdrawTime &lt;=#{endTime,jdbcType=TIMESTAMP}
			</if>
			<if test="agentName != null and agentName !='' ">
				and ua.id = #{agentName,jdbcType=VARCHAR}
			</if>
			<if test="brokerName != null and brokerName !='' ">
				and ub.id = #{brokerName,jdbcType=VARCHAR}
			</if>
			<if test="status != null">
				and w.Status = #{status,jdbcType=SMALLINT}
			</if>
		</where>
		order by w.WithdrawTime DESC
	</select>
	<!-- 现金提取查询结束-htt -->
	
	<!-- 现金提取查询统计开始-htt -->
	<select id="selectByWithdrawCashCount" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT Sum(WithdrawAmt) withdrawAmtSum, Sum(poundage) poundageSum
		FROM User_WithdrawCash w
		LEFT JOIN User_Login u ON w.UserID = u.UserID
		LEFT JOIN User_Info i ON w.UserID = i.UserID
		LEFT JOIN users ua ON w.agent_id = ua.id
		LEFT JOIN users ub ON w.broker_id = ub.id
		<where>
			<!--   and u.Status = 1 -->
			<if test="userName != null and userName != '' ">
				and u.UserName = #{userName,jdbcType=VARCHAR}
			</if>
			<if test="startTime !=null and startTime !='' ">
				and w.WithdrawTime &gt;=#{startTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime !=null and endTime != '' ">
				and w.WithdrawTime &lt;=#{endTime,jdbcType=TIMESTAMP}
			</if>
			<if test="agentName != null and agentName !='' ">
				and ua.id = #{agentName,jdbcType=VARCHAR}
			</if>
			<if test="brokerName != null and brokerName !='' ">
				and ub.id = #{brokerName,jdbcType=VARCHAR}
			</if>
			<if test="status != null">
				and w.Status = #{status,jdbcType=SMALLINT}
			</if>
		</where>
		order by w.WithdrawTime DESC
	</select>
	<!-- 现金提取查询统计结束-htt -->
  
  
  
  <select id="selectByIdKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from User_WithdrawCash w
    where WithdrawID = #{withdrawid,jdbcType=CHAR}
  </select>
  <select id="getByAll" resultType="com.fx.xzt.sys.model.UserWithdrawCashModel" parameterType="java.util.Map" >
  	select <include refid="Base_Column_List" />,b.BankName as BankName
	from User_WithdrawCash w
	left join User_BankCard ub on w.AccountNum = ub.AccountNum and w.UserID = ub.UserID 
	left join Bank b on b.BankNo = ub.BankNo
	<where>
		<if test="userName != null and userName!='' ">
			and w.UserName = #{userName,jdbcType=VARCHAR}
		</if>
		<if test="startTime !=null and startTime!='' ">
			and w.WithdrawTime &gt;=#{startTime,jdbcType=TIMESTAMP}
		</if>
		<if test="endTime !=null and endTime!='' ">
			and w.WithdrawTime &lt;=#{endTime,jdbcType=TIMESTAMP}
		</if>
		<if test="status != null">
			and w.Status = #{status,jdbcType=VARCHAR}
		</if>
	</where>
	order by WithdrawTime desc
  </select>
  <update id="updateByIdSelective" parameterType="com.fx.xzt.sys.entity.UserWithdrawCash" >
    update User_WithdrawCash
    <set >
      <if test="userid != null" >
        UserID = #{userid,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="withdrawamt != null" >
        WithdrawAmt = #{withdrawamt,jdbcType=DECIMAL},
      </if>
      <if test="accountnum != null" >
        AccountNum = #{accountnum,jdbcType=VARCHAR},
      </if>
      <if test="withdrawtime != null" >
        WithdrawTime = #{withdrawtime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishtime != null" >
        FinishTime = #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=SMALLINT},
      </if>
    </set>
    where WithdrawID = #{withdrawid,jdbcType=CHAR}
  </update>
  <update id="updateWithdrawCashAndAccount" parameterType="java.util.Map" >
    update User_WithdrawCash
    <set >
      <if test="status != null" >
        Status = #{status,jdbcType=SMALLINT}
      </if>
    </set>
    where WithdrawID = #{withdrawid,jdbcType=CHAR};
   	select @UserID:=UserID,@WithdrawAmt:=WithdrawAmt,@WithdrawTime:=WithdrawTime 
   	from User_WithdrawCash 
   	where WithdrawID = #{withdrawid,jdbcType=CHAR};
    update User_Account
    <set >
      BalanceAmt = BalanceAmt+@WithdrawAmt
    </set>
    where UserID = @UserID;
    update User_AccountRecord
    <set>
    	Status = #{statusAccountRecord,jdbcType=SMALLINT}
    </set>
    where UserID = @UserID and CreateTime = @WithdrawTime;
  </update>
  <!-- <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    WithdrawID, UserID, UserName, WithdrawAmt, AccountNum, WithdrawTime, FinishTime, 
    Status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fx.xzt.sys.entity.UserWithdrawCashExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from User_WithdrawCash
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from User_WithdrawCash
    where WithdrawID = #{withdrawid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from User_WithdrawCash
    where WithdrawID = #{withdrawid,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fx.xzt.sys.entity.UserWithdrawCashExample" >
    delete from User_WithdrawCash
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fx.xzt.sys.entity.UserWithdrawCash" >
    insert into User_WithdrawCash (WithdrawID, UserID, UserName, 
      WithdrawAmt, AccountNum, WithdrawTime, 
      FinishTime, Status)
    values (#{withdrawid,jdbcType=CHAR}, #{userid,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, 
      #{withdrawamt,jdbcType=DECIMAL}, #{accountnum,jdbcType=VARCHAR}, #{withdrawtime,jdbcType=TIMESTAMP}, 
      #{finishtime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.fx.xzt.sys.entity.UserWithdrawCash" >
    insert into User_WithdrawCash
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="withdrawid != null" >
        WithdrawID,
      </if>
      <if test="userid != null" >
        UserID,
      </if>
      <if test="username != null" >
        UserName,
      </if>
      <if test="withdrawamt != null" >
        WithdrawAmt,
      </if>
      <if test="accountnum != null" >
        AccountNum,
      </if>
      <if test="withdrawtime != null" >
        WithdrawTime,
      </if>
      <if test="finishtime != null" >
        FinishTime,
      </if>
      <if test="status != null" >
        Status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="withdrawid != null" >
        #{withdrawid,jdbcType=CHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="withdrawamt != null" >
        #{withdrawamt,jdbcType=DECIMAL},
      </if>
      <if test="accountnum != null" >
        #{accountnum,jdbcType=VARCHAR},
      </if>
      <if test="withdrawtime != null" >
        #{withdrawtime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishtime != null" >
        #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fx.xzt.sys.entity.UserWithdrawCashExample" resultType="java.lang.Integer" >
    select count(*) from User_WithdrawCash
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update User_WithdrawCash
    <set >
      <if test="record.withdrawid != null" >
        WithdrawID = #{record.withdrawid,jdbcType=CHAR},
      </if>
      <if test="record.userid != null" >
        UserID = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.username != null" >
        UserName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.withdrawamt != null" >
        WithdrawAmt = #{record.withdrawamt,jdbcType=DECIMAL},
      </if>
      <if test="record.accountnum != null" >
        AccountNum = #{record.accountnum,jdbcType=VARCHAR},
      </if>
      <if test="record.withdrawtime != null" >
        WithdrawTime = #{record.withdrawtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.finishtime != null" >
        FinishTime = #{record.finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        Status = #{record.status,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update User_WithdrawCash
    set WithdrawID = #{record.withdrawid,jdbcType=CHAR},
      UserID = #{record.userid,jdbcType=BIGINT},
      UserName = #{record.username,jdbcType=VARCHAR},
      WithdrawAmt = #{record.withdrawamt,jdbcType=DECIMAL},
      AccountNum = #{record.accountnum,jdbcType=VARCHAR},
      WithdrawTime = #{record.withdrawtime,jdbcType=TIMESTAMP},
      FinishTime = #{record.finishtime,jdbcType=TIMESTAMP},
      Status = #{record.status,jdbcType=SMALLINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fx.xzt.sys.entity.UserWithdrawCash" >
    update User_WithdrawCash
    <set >
      <if test="userid != null" >
        UserID = #{userid,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="withdrawamt != null" >
        WithdrawAmt = #{withdrawamt,jdbcType=DECIMAL},
      </if>
      <if test="accountnum != null" >
        AccountNum = #{accountnum,jdbcType=VARCHAR},
      </if>
      <if test="withdrawtime != null" >
        WithdrawTime = #{withdrawtime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishtime != null" >
        FinishTime = #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=SMALLINT},
      </if>
    </set>
    where WithdrawID = #{withdrawid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fx.xzt.sys.entity.UserWithdrawCash" >
    update User_WithdrawCash
    set UserID = #{userid,jdbcType=BIGINT},
      UserName = #{username,jdbcType=VARCHAR},
      WithdrawAmt = #{withdrawamt,jdbcType=DECIMAL},
      AccountNum = #{accountnum,jdbcType=VARCHAR},
      WithdrawTime = #{withdrawtime,jdbcType=TIMESTAMP},
      FinishTime = #{finishtime,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=SMALLINT}
    where WithdrawID = #{withdrawid,jdbcType=CHAR}
  </update> -->
</mapper>