<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fx.xzt.sys.mapper.UserAccountMapper">

	<!--黄金赎回成功更改账户余额开始-htt-->
	<update id="updateByGoldReedm" parameterType="java.util.Map">
	    update user_account
	    <set>
	    	<if test="rmb != null and rmb !=''">
	        	rmb = rmb + #{rmb,jdbcType=REAL},
	        </if>
    	</set>
    	where id = #{id,jdbcType=BIGINT}
  	</update>
	<!--黄金赎回成功更改账户余额结束-htt-->
	
</mapper>
