<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fx.xzt.sys.mapper.UserRechargeMapper">
	<resultMap id="BaseResultMap" type="com.fx.xzt.sys.entity.UserRecharge">
		<id column="RechargeID" property="rechargeid" jdbcType="CHAR" />
		<result column="UserID" property="userid" jdbcType="BIGINT" />
		<result column="UserName" property="username" jdbcType="VARCHAR" />
		<result column="RMBAmt" property="rmbamt" jdbcType="INTEGER" />
		<result column="RechargeTime" property="rechargetime" jdbcType="TIMESTAMP" />
		<result column="RechargeChannel" property="rechargechannel"
			jdbcType="CHAR" />
		<result column="PlatformName" property="platformname" jdbcType="VARCHAR" />
		<result column="MerchantOrderNum" property="merchantordernum"
			jdbcType="VARCHAR" />
		<result column="Status" property="status" jdbcType="SMALLINT" />
	</resultMap>
	<sql id="Base_Column_List">
		RechargeID, UserID, UserName, RMBAmt, RechargeTime,
		RechargeChannel,
		PlatformName,
		MerchantOrderNum, Status
	</sql>

	<!-- 现金充值查询开始-htt -->
	<select id="selectByRecharge" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT r.RechargeID, r.UserID, 
		<if test='isView == "1"'>
			r.UserName UserName,
		</if>
		<if test='isView != "1"'>
			INSERT(r.UserName, 4, 4, '****') UserName,
		</if>
		r.RMBAmt, r.RechargeTime,
		r.RechargeChannel, r.PlatformName,
		r.MerchantOrderNum, r.Status,
		i.agent_id AS agentId, ua.user_name AS agentName, i.broker_id AS brokerId, ub.user_name AS brokerName,
		i.RealName realName
		FROM User_Recharge r
		LEFT JOIN User_Login u ON r.UserID = u.UserID
		LEFT JOIN User_Info i ON r.UserID = i.UserID
		LEFT JOIN users ua ON r.agent_id = ua.id
		LEFT JOIN users ub ON r.broker_id = ub.id
		<where>
			 <!-- and r.Status = 1  -->
			<if test="userName != null and userName != '' ">
				and r.userName = #{userName,jdbcType=VARCHAR}
			</if>
			<if test="startTime !=null and startTime !='' ">
				and r.RechargeTime &gt;=#{startTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime !=null and endTime != '' ">
				and r.RechargeTime &lt;=#{endTime,jdbcType=TIMESTAMP}
			</if>
			<if test="agentName != null and agentName !='' ">
				and ua.id = #{agentName,jdbcType=VARCHAR}
			</if>
			<if test="brokerName != null and brokerName !='' ">
				and ub.id = #{brokerName,jdbcType=VARCHAR}
			</if>
			<if test="rechargechannel != null and rechargechannel!='' ">
				and r.RechargeChannel =
				#{rechargechannel,jdbcType=VARCHAR}
			</if>
			<if test="PlatformName != null and PlatformName!='' ">
				and r.PlatformName =
				#{PlatformName,jdbcType=VARCHAR}
			</if>
			<if test="status != null">
				and r.Status = #{status,jdbcType=SMALLINT}
			</if>
		</where>
		order by r.RechargeTime DESC
	</select>
	<!-- 现金充值查询结束-htt -->
	
	<!-- 现金充值查询统计开始-htt -->
	<select id="selectByRechargeCount" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT Sum(r.RMBAmt) rmbAmtSum 
		FROM User_Recharge r
		LEFT JOIN User_Login u ON r.UserID = u.UserID
		LEFT JOIN User_Info i ON r.UserID = i.UserID
		LEFT JOIN users ua ON r.agent_id = ua.id
		LEFT JOIN users ub ON r.broker_id = ub.id
		<where>
			 <!-- and r.Status = 1  -->
			<if test="userName != null and userName != '' ">
				and r.userName = #{userName,jdbcType=VARCHAR}
			</if>
			<if test="startTime !=null and startTime !='' ">
				and r.RechargeTime &gt;=#{startTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime !=null and endTime != '' ">
				and r.RechargeTime &lt;=#{endTime,jdbcType=TIMESTAMP}
			</if>
			<if test="agentName != null and agentName !='' ">
				and ua.id = #{agentName,jdbcType=VARCHAR}
			</if>
			<if test="brokerName != null and brokerName !='' ">
				and ub.id = #{brokerName,jdbcType=VARCHAR}
			</if>
			<if test="rechargechannel != null and rechargechannel!='' ">
				and r.RechargeChannel =
				#{rechargechannel,jdbcType=VARCHAR}
			</if>
			<if test="PlatformName != null and PlatformName!='' ">
				and r.PlatformName =
				#{PlatformName,jdbcType=VARCHAR}
			</if>
			<if test="status != null">
				and r.Status = #{status,jdbcType=SMALLINT}
			</if>
		</where>
	</select>
	<!-- 现金充值查询统计结束-htt -->


	<select id="getByAll" resultType="com.fx.xzt.sys.model.UserRechargeModel"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from User_Recharge
		<where>
			<if test="username != null and username!='' ">
				and UserName = #{username,jdbcType=VARCHAR}
			</if>
			<if test="rechargeid != null and rechargeid !='' ">
				and RechargeID = #{rechargeid,jdbcType=CHAR}
			</if>
			<if test="merchantordernum != null and merchantordernum!='' ">
				and MerchantOrderNum =
				#{merchantordernum,jdbcType=VARCHAR}
			</if>
			<if test="startTime !=null and startTime!='' ">
				and RechargeTime &gt;=#{startTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime !=null and endTime!='' ">
				and RechargeTime &lt;=#{endTime,jdbcType=TIMESTAMP}
			</if>
			<if test="rechargechannel != null and rechargechannel!='' ">
				and RechargeChannel = #{rechargechannel,jdbcType=VARCHAR}
			</if>
			<if test="status != null">
				and Status = #{status,jdbcType=SMALLINT}
			</if>
		</where>
		order by RechargeTime desc
	</select>


	<!--人工充值-tianliya-->
	<insert id="insertOneRecord" parameterType="com.fx.xzt.sys.entity.UserRecharge" >
		insert into User_Recharge
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="rechargeid != null" >
				RechargeID,
			</if>
			<if test="userid != null" >
				UserID,
			</if>
			<if test="username != null" >
				UserName,
			</if>
			<if test="rmbamt != null" >
				RMBAmt,
			</if>
			<if test="rechargetime != null" >
				RechargeTime,
			</if>
			<if test="rechargechannel != null" >
				RechargeChannel,
			</if>
			<if test="platformname != null" >
				PlatformName,
			</if>
			<if test="merchantordernum != null" >
				MerchantOrderNum,
			</if>
			<if test="status != null" >
				Status,
			</if>
			<if test="agentId != null" >
				agent_id,
			</if>
			<if test="brokerId != null" >
				broker_id,
			</if>
			<if test="tradeNo != null" >
				trade_no,
			</if>
			<if test="thirdName != null" >
				third_name,
			</if>
			<if test="createTime != null" >
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="rechargeid != null" >
				#{rechargeid,jdbcType=CHAR},
			</if>
			<if test="userid != null" >
				#{userid,jdbcType=BIGINT},
			</if>
			<if test="username != null" >
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="rmbamt != null" >
				#{rmbamt,jdbcType=BIGINT},
			</if>
			<if test="rechargetime != null" >
				#{rechargetime,jdbcType=TIMESTAMP},
			</if>
			<if test="rechargechannel != null" >
				#{rechargechannel,jdbcType=CHAR},
			</if>
			<if test="platformname != null" >
				#{platformname,jdbcType=VARCHAR},
			</if>
			<if test="merchantordernum != null" >
				#{merchantordernum,jdbcType=VARCHAR},
			</if>
			<if test="status != null" >
				#{status,jdbcType=SMALLINT},
			</if>
			<if test="agentId != null" >
				#{agentId,jdbcType=BIGINT},
			</if>
			<if test="brokerId != null" >
				#{brokerId,jdbcType=BIGINT},
			</if>
			<if test="tradeNo != null" >
				#{tradeNo,jdbcType=VARCHAR},
			</if>
			<if test="thirdName != null" >
				#{thirdName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null" >
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
</mapper>