<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fx.xzt.sys.mapper.WorldCupRecordMapper">
    <resultMap id="BaseResultMap" type="com.fx.xzt.sys.entity.WorldCupRecord">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="competition_id" property="competitionId" jdbcType="BIGINT"/>
        <result column="guessing_time" property="guessingTime" jdbcType="TIMESTAMP"/>
        <result column="guessing_winner" property="guessingWinner" jdbcType="BIGINT"/>
        <result column="guessing_a_score" property="guessingAScore" jdbcType="SMALLINT"/>
        <result column="guessing_b_score" property="guessingBScore" jdbcType="SMALLINT"/>
        <result column="is_guessing" property="isGuessing" jdbcType="SMALLINT"/>
        <result column="Settlement" property="settlement" jdbcType="SMALLINT"/>
        <result column="Settlement_time" property="settlementTime" jdbcType="TIMESTAMP"/>
        <result column="type" property="type" jdbcType="SMALLINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, competition_id, guessing_time, guessing_winner, guessing_a_score, guessing_b_score, 
    is_guessing, Settlement, Settlement_time, type
  </sql>
    <!-- 统计竞猜各国家队冠军人次 laj -->
    <select id="countGuess" resultType="java.util.Map">
 select  wct.team_name teamName, count(wcr.guessing_winner) guessNum FROM world_cup_record wcr ,world_cup_teams wct
WHERE wcr.guessing_winner=wct.id and wcr.type=2 group BY wcr.guessing_winner
</select>

    <select id="selectSettlement" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from world_cup_record where competition_id = #{competitionId,jdbcType=BIGINT} and type = 1 and Settlement = 1
    </select>
    
    <!--竞猜结果统计-tianliya-->
    <select id="selectGuessResult" resultType="java.util.Map">
    select wcc.team_a_name teamAName, wcc.team_b_name teamBName,wcc.type,
 (select count(id)from world_cup_record where competition_id = wcc.id and type=1) guessNum,
(select count(id)from world_cup_record where competition_id = wcc.id and guessing_winner = wcc.win and type=1) winNum,
(select count(id)from world_cup_record where competition_id = wcc.id and type=1)-(select count(id)from world_cup_record where competition_id = wcc.id and guessing_winner = wcc.win and type=1) lossNum,
(select count(id) from world_cup_record where is_guessing = 1 and type=1 and competition_id = wcc.id) voucherNum1,
(select count(id) from world_cup_record where is_guessing = 2 and type=1 and competition_id = wcc.id)+(select count(id) from world_cup_record where is_guessing = 2 and type=1 and competition_id = wcc.id) voucherNum2,
DATE_FORMAT(wcc.start_time,'%Y-%m-%d %H:%i') startTime
from world_cup_competition wcc
where wcc.team_a_name is not null and wcc.team_b_name is not null and wcc.type=1
ORDER BY wcc.start_time
  </select>
    <!--竞猜胜负 输赢都不正确  (参数比赛id)-->
    <update id="updateUserGuessing0" parameterType="java.lang.Long">
        UPDATE world_cup_record as wcr
        INNER JOIN
        (select id,win,team_a_score,team_b_score
        from world_cup_competition where id=#{competitionId,jdbcType=BIGINT}) as wcc
        on wcc.id=wcr.competition_id and (wcc.team_a_score!=wcr.guessing_a_score or  wcc.team_b_score!=wcr.guessing_b_score )and wcc.win !=wcr.guessing_winner
        set is_guessing=0
        where type=1
    </update>
    <!--竞猜胜负正确 (参数比赛id)-tianliya-->
    <update id="updateUserGuessing1" parameterType="java.lang.Long">
        UPDATE world_cup_record as wcr
        INNER JOIN
        (select id,win,team_a_score,team_b_score
        from world_cup_competition
        where id=#{competitionId,jdbcType=BIGINT}) as wcc
        on wcc.id=wcr.competition_id and (wcc.team_a_score!=wcr.guessing_a_score or  wcc.team_b_score!=wcr.guessing_b_score )and wcc.win=wcr.guessing_winner
        set is_guessing=1 where type=1
    </update>


    <!--修改胜负正确 比分正确 (参数比赛id)-->
    <update id="updateUserGuesse2" parameterType="java.lang.Long">
        UPDATE world_cup_record as wcr
        INNER JOIN
        (select id,win,team_a_score,team_b_score
        from world_cup_competition
        where id=#{competitionId,jdbcType=BIGINT}) as wcc
        on wcc.id=wcr.competition_id and wcc.team_a_score=wcr.guessing_a_score and wcc.team_b_score=wcr.guessing_b_score and wcc.win=wcr.guessing_winner
        set is_guessing=2
        where type=1
    </update>


    <!--修改竞猜 冠军正确的 (参数 最后一场比赛id)-->
    <update id="updateUserGuesse3" parameterType="java.lang.Long">
        UPDATE world_cup_record as wcr
        INNER JOIN
        (select id,win,team_a_score,team_b_score
        from world_cup_competition
        where id=#{competitionId,jdbcType=BIGINT}) as wcc
        on wcc.win=wcr.guessing_winner
        set is_guessing=3
        where type=2
    </update>
    <!--修改竞猜冠军错误的  (参数 最后一场比赛id)-->
    <update id="updateUserGuesse4" parameterType="java.lang.Long">
        UPDATE world_cup_record as wcr
        INNER JOIN
        (select id,win,team_a_score,team_b_score
        from world_cup_competition
        where id=#{competitionId,jdbcType=BIGINT}) as wcc
        on wcc.win!=wcr.guessing_winner
        set is_guessing=4
        where type=2
    </update>

    <select id="findByCompetitionIdAndType" resultMap="BaseResultMap">
        SELECT * FROM world_cup_record wcr WHERE wcr.competition_id=#{competitionId} AND wcr.type=#{type}
    </select>

    <update id="updateSettlement">
        UPDATE  world_cup_record wcr SET wcr.Settlement=1,wcr.Settlement_time=now() WHERE wcr.competition_id=#{competitionId} AND wcr.Settlement=0 AND wcr.user_id=#{userId}
    </update>
    <!--获取猜世界冠军正确的用户-->
    <select id="guessWinnerCount" resultType="java.util.Map" parameterType="java.util.Map">
select UserName userName, DATE_FORMAT(wcr.guessing_time,'%Y-%m-%d %H:%i:%s') guessingTime, wcr.is_guessing isGuessing
from (select *
from world_cup_record  where is_guessing = #{isGuessing,jdbcType=SMALLINT}) wcr
LEFT JOIN User_Login ul on wcr.user_id = ul.UserId
        INNER JOIN finance_regulargold_order fro on ul.UserId = fro.user_id

        where 1=1 and fro.buy_time &gt; '2018-07-06 00:00:00' and fro.buy_time &lt; '2018-07-15 23:59:59'
        <if test="userName != null and userName != ''">
            and ul.UserName LIKE "%"#{userName,jdbcType=VARCHAR}"%"
    </if>
    </select>
</mapper>