<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fx.xzt.sys.mapper.WorldCupTeamsMapper" >
  <resultMap id="BaseResultMap" type="com.fx.xzt.sys.entity.WorldCupTeams" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="team_name" property="teamName" jdbcType="VARCHAR" />
    <result column="team_img" property="teamImg" jdbcType="VARCHAR" />
    <result column="base" property="base" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, team_name, team_img, base
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from world_cup_teams
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from world_cup_teams
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fx.xzt.sys.entity.WorldCupTeams" >
    insert into world_cup_teams (id, team_name, team_img, 
      base)
    values (#{id,jdbcType=BIGINT}, #{teamName,jdbcType=VARCHAR}, #{teamImg,jdbcType=VARCHAR}, 
      #{base,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fx.xzt.sys.entity.WorldCupTeams" >
    insert into world_cup_teams
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="teamName != null" >
        team_name,
      </if>
      <if test="teamImg != null" >
        team_img,
      </if>
      <if test="base != null" >
        base,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="teamName != null" >
        #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="teamImg != null" >
        #{teamImg,jdbcType=VARCHAR},
      </if>
      <if test="base != null" >
        #{base,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fx.xzt.sys.entity.WorldCupTeams" >
    update world_cup_teams
    <set >
      <if test="teamName != null" >
        team_name = #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="teamImg != null" >
        team_img = #{teamImg,jdbcType=VARCHAR},
      </if>
      <if test="base != null" >
        base = #{base,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fx.xzt.sys.entity.WorldCupTeams" >
    update world_cup_teams
    set team_name = #{teamName,jdbcType=VARCHAR},
      team_img = #{teamImg,jdbcType=VARCHAR},
      base = #{base,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>