<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fx.xzt.sys.mapper.WorldCupRecordMapper">
    <resultMap id="BaseResultMap" type="com.fx.xzt.sys.entity.WorldCupRecord">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="competition_id" property="competitionId" jdbcType="BIGINT"/>
        <result column="guessing_time" property="guessingTime" jdbcType="TIMESTAMP"/>
        <result column="guessing_winner" property="guessingWinner" jdbcType="BIGINT"/>
        <result column="guessing_a_score" property="guessingAScore" jdbcType="SMALLINT"/>
        <result column="guessing_b_score" property="guessingBScore" jdbcType="SMALLINT"/>
        <result column="is_guessing" property="isGuessing" jdbcType="SMALLINT"/>
        <result column="Settlement" property="settlement" jdbcType="SMALLINT"/>
        <result column="Settlement_time" property="settlementTime" jdbcType="TIMESTAMP"/>
        <result column="type" property="type" jdbcType="SMALLINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, competition_id, guessing_time, guessing_winner, guessing_a_score, guessing_b_score, 
    is_guessing, Settlement, Settlement_time, type
  </sql>
  <!-- 统计竞猜各国家队冠军人次 laj -->
<select id="countGuess" resultMap="BaseResultMap" >
 select  wct.team_name, count(wcr.guessing_winner) FROM world_cup_record wcr ,world_cup_teams wct
WHERE wcr.guessing_winner=wct.id and wcr.type=2 group BY wcr.guessing_winner
</select>

    <select id="selectSettlement" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from world_cup_record where competition_id = #{competitionId,jdbcType=BIGINT} and type = 0
    </select>
    <!--竞猜结果统计-tianliya-->
    <select id="selectGuessResult" resultType="java.util.Map">
    select wcc.team_a_name teamAName, wcc.team_b_name teamBName,
 (select count(id)from world_cup_record where competition_id = wcc.id and type=1) guessNum,
(select count(id)from world_cup_record where guessing_winner = wcc.win and type=1) winNum,
(select count(id)from world_cup_record where competition_id = wcc.id and type=1)-(select count(id)from world_cup_record where guessing_winner = wcc.win and type=1) lossNum,
(select count(id) from world_cup_record where guessing_winner = wcc.win and type=1) voucherNum1,
(select count(id) from world_cup_record where guessing_a_score = wcc.team_a_score and guessing_b_score = wcc.team_b_score and type=1) voucherNum2,
DATE_FORMAT(wcc.start_time,'%Y-%m-%d %H:%i') startTime
from world_cup_competition wcc
where wcc.team_a_name is not null and wcc.team_b_name is not null
ORDER BY wcc.start_time
  </select>


</mapper>