<div ng-controller="commentMgController" class="container-fluid">
 		<div>	
		  <table class="table table-bordered table-hover bg-white">
		     <tr style="font-weight: bold">
		         <td >序号</td>
		         <td >评论时间</td>
		         <td >账号</td>
		         <td >评论内容</td>
		           <td >资讯</td>
		          <td >操作</td>
		      </tr>
		      <tr ng-repeat="user in users"  >
		         <td>
		            <span >{{ $index+1 }}</span>
		         </td>
			      <td>
			        <span >{{ user.commentTime	 | date:"yyyy-MM-dd HH:mm:ss" }}</span>
			     </td>
			      <td>
			        <span >{{ user.userName}}</span>
			     </td> 
			     <td>
		            <span >{{ user.commentContent }}</span>
		         </td>
			   
		         <td style="white-space: nowrap" >
		            <div class="buttons" >
		               <button   title="Delete" acterid ={{user.serialNo}} ng-click=look($event) data-toggle="modal"   data-target="#look"    class="btn btn-sm btn-primary">
		           		       标题（点击可查）
		               </button>
		            </div>
		         </td>
		           <td style="white-space: nowrap" >
		            <div class="buttons" >
		               <button   title="Delete" acterid ={{user.serialNo}}  ng-click=edit1($event)   data-toggle="modal"   data-target="#myModalEdit1"    class="btn btn-sm btn-danger">
		           		    编辑
		               </button>	
		                <button   title="Delete" acterid ={{user.serialNo}}  ng-click="deleteMsg($event)"     class="btn btn-sm btn-danger">
		           		   删除
		               </button>	
		            </div>
		         </td>
		      </tr>
		   </table>
		   <nav class="paginationWrap">
				<ul class="pagination">
					<li>
						<a ng-click="Previous()">
							<span>上一页</span>
						</a>
					</li>
					<li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
						<a ng-click="selectPage(page)" >{{ page }}</a>
					</li>
					<li>
						<a ng-click="Next()">
							<span>下一页</span>
						</a> 
					</li>
				</ul>
		</nav>
	</div>
	<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	       		 <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" 
							aria-hidden="true">×
					</button>
					<h4 class="modal-title" id="myModalLabel">
						资讯发布
					</h4>
				</div>
	            <div class="modal-body" style="text-align:center">
	            		<form role="form" class="form-inline" id ="accountInfoForm">
							     <div class="form-group  col-12" style="margin-right: 10px;">
							        	标题：
							        <input id="Intitle" ng-model ="Intitle" type="email" name="name1" style ="width:50%" placeholder="" class="form-control" />
					         		<label class="checkbox-inline " style ="margin-left:10px" >
										<input type="checkbox" id="outOrIn"  >
										站外
									</label>
							     </div> 
							      <div class="form-group col-12" style="margin-right: 10px;height:100px;line-height:20px;">
							        	内容：
							        <input id="Incontent" ng-model ="Incontent" type="textarea" name="name2"  style ="width:60%; height:90%"  placeholder="" class="form-control" />
							     </div>
							</form>
					 <button type="button" ng-click="editNew($event)"  data-dismiss="modal" class="mb-sm btn btn-primary">发布</button>
				    <button type="button"   data-dismiss="modal" class="mb-sm btn btn-default">取消</button>
				  </div>
	        </div>
	    </div>
	</div>
	<div class="modal fade" id="myModalEdit1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	       		 <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" 
							aria-hidden="true">×
					</button>
					<h4 class="modal-title" id="myModalLabel">
						资讯发布
					</h4>
				</div>
	            <div class="modal-body" style="text-align:center">
	            		<form role="form" class="form-inline" id ="accountInfoForm">
							     <div class="form-group  col-12" style="margin-right: 10px;">
							        	标题：
							        <input id="Intitle2" ng-model ="Intitle1" type="email" name="name1" style ="width:50%" placeholder="" class="form-control" />
					         		<label class="checkbox-inline " style ="margin-left:10px" >
										<input type="checkbox" id="outOrIn2"  >
										站外
									</label>
							     </div> 
							      <div class="form-group col-12" style="margin-right: 10px;height:100px;line-height:20px;">
							        	内容：
							        <input id="Incontent2" ng-model ="Incontent1" type="textarea" name="name2"  style ="width:60%; height:90%"  placeholder="" class="form-control" />
							     </div>
							</form>
					 <button type="button" ng-click="editNew1($event)"  data-dismiss="modal" class="mb-sm btn btn-primary">发布</button>
				    <button type="button"   data-dismiss="modal" class="mb-sm btn btn-default">取消</button>
				  </div>
	        </div>
	    </div>
	</div>
	<div class="modal fade" id="look" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-body" style="text-align:center">
	            		<form role="form" class="form-inline" id ="accountInfoForm">
							     <div class="form-group  col-12" style="margin-right: 10px;">
							        	标题：
							        <input id="Intitlelook" ng-model ="Intitlelook" type="email" name="name1" style ="width:50%" placeholder="" class="form-control" />
					         		<label class="checkbox-inline " style ="margin-left:10px" >
										<input type="checkbox" id="outOrInlook"  >
										站外
									</label>
							     </div> 
							      <div class="form-group col-12" style="margin-right: 10px;height:100px;line-height:20px;">
							        	内容：
							        <input id="Incontentlook" ng-model ="Incontentlook" type="textarea" name="name2"  style ="width:60%; height:90%"  placeholder="" class="form-control" />
							     </div>
							</form>
				    <button type="button"   data-dismiss="modal" class="mb-sm btn btn-default">关闭</button>
				  </div>
	        </div>
	    </div>
	</div>
</div>	
