<div ng-controller="infoDeliveryNewsController" class="container-fluid">
		<form role="form" class="form-inline" id ="accountInfoForm">
		     <div class="form-group " style="margin-right: 10px;">
		        	标题：
		        <input id="" type="email" name="name1" placeholder="" class="form-control" />
		     </div>
		     <div class="form-group " style="margin-right: 10px; ">
		     		发布时间：
		          <p class="input-group"   ng-controller="DatepickerDemoCtrl" style="margin: 0;">
		            <input type="text" id="Actinput2" current-text="今天" style="float:none;"  name="name6"  datepicker-popup="{{format}}" 
		            	ng-model="dt" is-open="opened"
		            	 datepicker-options="dateOptions" date-disabled="disabled(date, mode)" 
		            	 ng-required="true" close-text="关闭" clear-text ="清空"  class="form-control"/>
		            <span class="input-group-btn">
		               <button type="button" ng-click="open($event)" class="btn btn-default">
		                  <em class="fa fa-calendar"></em>
		               </button>
		            </span>
		         </p>
		         <span id="" class=m-r-10>
		         	——
		         </span>
		         <p class="input-group"   ng-controller="DatepickerDemoCtrl1" style="margin: 0;">
		            <input type="text" id="Actinput3" current-text="今天" style="float:none;"  name="name7"  datepicker-popup="{{format}}" 
		            	ng-model="dt1" is-open="opened"
		            	datepicker-options="dateOptions" date-disabled="disabled(date, mode)" 
		            	 ng-required="true" close-text="关闭" clear-text ="清空"  class="form-control"/>
		            <span class="input-group-btn">
		               <button type="button" ng-click="open($event)" class="btn btn-default">
		                  <em class="fa fa-calendar"></em>
		               </button>
		            </span>
		         </p>
			  </div>
			   <div class="form-group " style="margin-right: 10px;">
				   状态： 
				   
				<select class="form-control " name="name2" id="selectUser">
					<option value="" >请选择</option>	
					<option value="0" >编辑中</option>
					<option value="1" >已发布</option>
					<option value="-1" >已删除</option>
				</select>
		     </div>
<!-- 			  <div class="form-group " style="margin-right: 10px;">
				发布人：<input id="" type="email" name="name22" placeholder="" class="form-control" />
		     </div>
 -->		    <button type="button" ng-click="search()" class="mb-sm btn btn-primary">查询</button>
		    <button type="button" ng-click="clearInput()" class="mb-sm btn btn-default">清除</button>
		</form>
		  <button type="button"  class="mb-sm btn btn-primary" data-toggle="modal"   data-target="#myModalEdit" >发布</button>
		<div>	
		  <table class="table table-bordered table-hover bg-white">
		     <tr style="font-weight: bold">
		         <td >序号</td>
		         <td >标题</td>
		         <td >创建时间</td>
		           <td >发布时间</td>
		          <td >发布人</td>
		          <td >操作</td>
		      </tr>
		      <tr ng-repeat="user in users"  >
		         <td>
		            <span >{{ $index+1 }}</span>
		         </td>
			      <td>
			        <span >{{ user.title}}</span>
			     </td>
			      <td>
			        <span >{{ user.createTime	 | date:"yyyy-MM-dd HH:mm:ss" }}</span>
			     </td>
			     <td>
			        <span >{{ user.modifyTime	 | date:"yyyy-MM-dd HH:mm:ss" }}</span>
			     </td>
			      <td>
			        <span >{{ user.operator}}</span>
			     </td> 
			     <td style="white-space: nowrap" >
		            <div class="buttons" >
		              <button   title="Delete" acterid ={{user.serialno}} ng-click=look($event) data-toggle="modal"   data-target="#look"    class="btn btn-sm btn-primary">
		           		       查看
		               </button> 
		               <button   title="Delete" acterid ={{user.serialno}}  ng-click=edit1($event)   data-toggle="modal"   data-target="#myModalEdit1"    class="btn btn-sm btn-danger">
		           		    编辑
		               </button>	
		                 <button   title="Delete" acterid ={{user.serialno}}  ng-click="deleteMsg($event)"     class="btn btn-sm btn-danger">
		           		   删除
		               </button>
		                <button   title="Delete" ng-click="goTop($event,1)" acterid ={{user.serialno}}  ng-if="user.topState==0"     class="btn btn-sm btn-danger">
		           			  上移
		               </button>	
		               <button   title="Delete" ng-click="goTop($event,0)" acterid ={{user.serialno}} ng-if="user.topState==1"    class="btn btn-sm btn-danger">
		           			下移
		               </button>	 
		            </div>
		         </td>
		      </tr>
		   </table>
		   <nav class="paginationWrap">
				<ul class="pagination">
					<li>
						<a ng-click="Previous()">
							<span>上一页</span>
						</a>
					</li>
					<li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
						<a ng-click="selectPage(page)" >{{ page }}</a>
					</li>
					<li>
						<a ng-click="Next()">
							<span>下一页</span>
						</a> 
					</li>
				</ul>
		</nav>
	</div>
	<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	       		 <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" 
							aria-hidden="true">×
					</button>
					<h4 class="modal-title" id="myModalLabel">
						公告发布
					</h4>
				</div>
	            <div class="modal-body" style="text-align:center">
	            		<form role="form" class="form-inline" id ="accountInfoForm">
							     <div class="form-group  col-12" style="margin-right: 10px;">
							        	标题：
							        <input id="Intitle" ng-model ="Intitle" type="email" name="name1" style ="width:50%" placeholder="" class="form-control" />
							     </div> 
							      <div class="form-group col-12" style="margin-right: 10px;height:100px;line-height:20px;">
							        	地址：
							        <input id="Incontent" ng-model ="Incontent" type="textarea" name="name2"  style ="width:60%; height:90%"  placeholder="" class="form-control" />
							     </div>
							</form>
					 <button type="button" ng-click="editNew($event)"  data-dismiss="modal" class="mb-sm btn btn-primary">发布</button>
				    <button type="button"   data-dismiss="modal" class="mb-sm btn btn-default">取消</button>
				  </div>
	        </div>
	    </div>
	</div>
	<div class="modal fade" id="myModalEdit1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	       		 <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" 
							aria-hidden="true">×
					</button>
					<h4 class="modal-title" id="myModalLabel">
						公告发布
					</h4>
				</div>
	            <div class="modal-body" style="text-align:center">
	            		<form role="form" class="form-inline" id ="accountInfoForm">
							     <div class="form-group  col-12" style="margin-right: 10px;">
							        	标题：
							        <input id="Intitle2" ng-model ="Intitle1" type="email" name="name1" style ="width:50%" placeholder="" class="form-control" />
							     </div> 
							      <div class="form-group col-12" style="margin-right: 10px;height:100px;line-height:20px;">
							        	地址：
							        <input id="Incontent2" ng-model ="Incontent1" type="textarea" name="name2"  style ="width:60%; height:90%"  placeholder="" class="form-control" />
							     </div>
							</form>
					 <button type="button" ng-click="editNew1($event)"  data-dismiss="modal" class="mb-sm btn btn-primary">发布</button>
				    <button type="button"   data-dismiss="modal" class="mb-sm btn btn-default">取消</button>
				  </div>
	        </div>
	    </div>
	</div>
	<div class="modal fade" id="look" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-body" style="text-align:center">
	            		<form role="form" class="form-inline" id ="accountInfoForm">
							     <div class="form-group  col-12" style="margin-right: 10px;">
							        	标题：
							        <input id="Intitlelook" ng-model ="Intitlelook" type="email" name="name1" style ="width:50%" placeholder="" class="form-control" />
							     </div> 
							      <div class="form-group col-12" style="margin-right: 10px;height:100px;line-height:20px;">
							        	地址：
							        <input id="Incontentlook" ng-model ="Incontentlook" type="textarea" name="name2"  style ="width:60%; height:90%"  placeholder="" class="form-control" />
							     </div>
							</form>
				    <button type="button"   data-dismiss="modal" class="mb-sm btn btn-default">关闭</button>
				  </div>
	        </div>
	    </div>
	</div>
</div>	
