<div ng-controller="msgListController" class="container-fluid">
		<div>	
		  <table class="table table-bordered table-hover bg-white">
		     <tr style="font-weight: bold">
		         <td >序号</td>
		         <td >消息类型</td>
		         <td >时间</td>
		          <td >到达账号</td>
		          <td >内容</td>
		      </tr>
		      <tr ng-repeat="user in users"  >
		         <td>
		            <span >{{ $index+1 }}</span>
		         </td>
			      <td>
			        <span >{{ user.msgType}}</span>
			     </td>
			      <td>
			        <span >{{ user.msgTime	 | date:"yyyy-MM-dd HH:mm:ss" }}</span>
			     </td>
			     <td>
			        <span >{{ user.userName	 }}</span>
			     </td>
			      <td>
			        <span >{{ user.msgContent}}</span>
			     </td> 
		      </tr>
		   </table>
		   <nav class="paginationWrap">
				<ul class="pagination">
					<li>
						<a ng-click="Previous()">
							<span>上一页</span>
						</a>
					</li>
					<li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
						<a ng-click="selectPage(page)" >{{ page }}</a>
					</li>
					<li>
						<a ng-click="Next()">
							<span>下一页</span>
						</a> 
					</li>
				</ul>
		</nav>
	</div>
</div>	
