<div ng-controller="rechargeRecordController" class="container-fluid">
		<form role="form" class="form-inline" id ="rechargeRecordForm">
		     <div class="form-group " style="margin-right: 10px;">
		        	账号：
		        <input id="" type="email" name="name1" placeholder="" class="form-control" />
		     </div>
		      <div class="form-group " style="margin-right: 10px;">
		        	充值流水号：
		        <input id="" type="email" name="name2" placeholder="" class="form-control" />
		     </div>
		      <div class="form-group " style="margin-right: 10px;">
		        	商户订单号：
		        <input id="" type="email" name="name3" placeholder="" class="form-control" />
		     </div>
		     <div class="form-group " style="margin-right: 10px; ">
		     		申请时间：
		          <p class="input-group"   ng-controller="DatepickerDemoCtrl" style="margin: 0;">
		            <input type="text" id="Actinput2" current-text="今天" style="float:none;"  name="name6"  datepicker-popup="{{format}}" 
		            	ng-model="dt" is-open="opened"
		            	 datepicker-options="dateOptions" date-disabled="disabled(date, mode)" 
		            	 ng-required="true" close-text="关闭" clear-text ="清空"  class="form-control"/>
		            <span class="input-group-btn">
		               <button type="button" ng-click="open($event)" class="btn btn-default">
		                  <em class="fa fa-calendar"></em>
		               </button>
		            </span>
		         </p>
		         <span id="" class=m-r-10>
		         	——
		         </span>
		         <p class="input-group"   ng-controller="DatepickerDemoCtrl1" style="margin: 0;">
		            <input type="text" id="Actinput3" current-text="今天" style="float:none;"  name="name7"  datepicker-popup="{{format}}" 
		            	ng-model="dt1" is-open="opened"
		            	datepicker-options="dateOptions" date-disabled="disabled(date, mode)" 
		            	 ng-required="true" close-text="关闭" clear-text ="清空"  class="form-control"/>
		            <span class="input-group-btn">
		               <button type="button" ng-click="open($event)" class="btn btn-default">
		                  <em class="fa fa-calendar"></em>
		               </button>
		            </span>
		         </p>
			  </div>
			  <div class="form-group " style="margin-right: 10px;">
				   渠道：
				<select class="form-control " id="selectUser"  name="name8">
					<option value="" >请选择</option>
					<option value="iOS" >iOS</option>
					<option value="Android" >Android</option>
				</select>
		     </div>
		      <div class="form-group " style="margin-right: 10px;">
				   充值状态：
				<select class="form-control " id="selectUser"  name="name9">
					<option value="" >请选择</option>
					<option value="1" >成功</option>
					<option value="0" >失败</option>
				</select>
		     </div>
		    <button type="button" ng-click="search()" class="mb-sm btn btn-primary">查询</button>
		    <button type="button" ng-click="clearInput()" class="mb-sm btn btn-default">清除</button>
		      <button type="button" ng-click="export()" class="mb-sm btn btn-primary">导出</button>
		</form>
		<div>	
		  <table class="table table-bordered table-hover bg-white">
		     <tr style="font-weight: bold">
		         <td >序号</td>
		         <td >账号</td>
		         <td >充值流水号</td>
		         <td >商户订单号</td>
		           <td >人民币</td>
		          <td >优币</td>
		          <td >渠道</td>
		          <td >充值时间</td>
		          <td >充值状态</td>
		      </tr>
		      <tr ng-repeat="user in users"  >
		         <td>
		            <span >{{ $index+1 }}</span>
		         </td>
			      <td>
			        <span >{{ user.username}}</span>
			     </td>
			      <td>
			        <span >{{ user.rechargeid}}</span>
			     </td> <td>
			        <span >{{ user.merchantordernum}}</span>
			     </td> 
			      <td>
			        <span >{{ user.rmbamt}}</span>
			     </td>
			      <td>
			        <span >{{ user.uamt}}</span>
			     </td>
			     <td>
			        <span >{{ user.rechargechannel}}</span>
			     </td>
			     <td>
			        <span >{{ user.rechargetime	 | date:"yyyy-MM-dd HH:mm:ss" }}</span>
			     </td>
			      <td>
			        <span >{{ user.status}}</span>
			     </td>
		      </tr>
		   </table>
		   <nav class="paginationWrap">
				<ul class="pagination">
					<li>
						<a ng-click="Previous()">
							<span>上一页</span>
						</a>
					</li>
					<li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
						<a ng-click="selectPage(page)" >{{ page }}</a>
					</li>
					<li>
						<a ng-click="Next()">
							<span>下一页</span>
						</a> 
					</li>
				</ul>
		</nav>
	</div>
		<div class="modal fade" id="myModalShowImg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	       
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                <h4 class="modal-title" id="myModalLabel">身份证图片</h4>
	            </div>
	            <div class="modal-body" style="text-align:center">
	            	<img ng-src="{{imgSrcPath }}" style="height:100%" alt="暂无图片" >
				  </div>
		          <div class="modal-footer">
		               <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
		          </div>
	        </div>
	    </div>
	</div>
	<div class="modal fade" id="myModalAlert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-body" style="text-align:center">
	            	<h3 >{{alertTxt}}</h3>
				  </div>
		          <div class="modal-footer">
		               <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
		          </div>
	        </div>
	    </div>
	</div>
</div>	
