<style>
@media (min-width: 768px){
	.modal-dialog {
	    width: 600px;
	    margin: 140px auto!important;
	}
	.modal-backdrop{
		opacity:0!important;
	}
	.modal .form-group {
	    margin-bottom: 15px;
	    overflow: hidden;
	}
}
</style>
<div ng-controller="TablexEditableController" class="container-fluid">
		<form role="form" class="form-inline" id ="searchForms">
		     <div class="form-group " style="margin-right: 10px;">
		        	用户名
		        <input id="input1" type="email" placeholder="" class="form-control" />
		     </div>
		     <div class="form-group " style="margin-right: 10px; ">
		     		创建时间：
		          <p class="input-group"   ng-controller="DatepickerDemoCtrl" style="margin: 0;">
		            <input type="text" id="input2" current-text="今天" style="float:none;"  datepicker-popup="{{format}}" 
		            	ng-model="dt" is-open="opened"
		            	 datepicker-options="dateOptions" date-disabled="disabled(date, mode)" 
		            	 ng-required="true" close-text="关闭" clear-text ="清空"  class="form-control"/>
		            <span class="input-group-btn">
		               <button type="button" ng-click="open($event)" class="btn btn-default">
		                  <em class="fa fa-calendar"></em>
		               </button>
		            </span>
		         </p>
		         <span id="" class=m-r-10>
		         	——
		         </span>
		         <p class="input-group"   ng-controller="DatepickerDemoCtrl1" style="margin: 0;">
		            <input type="text" id="input3" current-text="今天" style="float:none;"  datepicker-popup="{{format}}" 
		            	ng-model="dt1" is-open="opened"
		            	datepicker-options="dateOptions" date-disabled="disabled(date, mode)" 
		            	 ng-required="true" close-text="关闭" clear-text ="清空"  class="form-control"/>
		            <span class="input-group-btn">
		               <button type="button" ng-click="open($event)" class="btn btn-default">
		                  <em class="fa fa-calendar"></em>
		               </button>
		            </span>
		         </p>
			  </div>
		    <button type="button" ng-click="search()" class="mb-sm btn btn-primary">查询</button>
		    <button type="button" ng-click="clearInput()" class="mb-sm btn btn-default">清除</button>
		</form>
		<p style="margin-top: 60px; "><button type="button" data-toggle="modal" data-target="#myModal"  class="mb-sm btn btn-primary">新增用户</button></p>
		<div>	
		  <table class="table table-bordered table-hover bg-white">
		     <tr style="font-weight: bold">
		         <td >序号</td>
		         <td >用户名</td>
		         <td >密码</td>
		         <td >角色</td>
		         <td >创建时间</td>
		         <td >操作</td>
		      </tr>
		      <tr ng-repeat="user in users"  >
		         <td>
		            <span >{{ $index+1 }}</span>
		         </td>
			      <td>
			        <span >{{ user.phone}}</span>
			     </td>
			      <td>
			        <span >{{ user.password }}</span>
			     </td>
			      <td>
			        <span >{{ user.rname }}</span>
			     </td>
			       <td>
			        <span >{{ user.createTime | date:"yyyy-MM-dd HH:mm:ss"  }}</span>
			     </td>
		         <td style="white-space: nowrap" >
		            <div ng-show="!rowform.$visible" class="buttons">
		               <button   title="Edit" class="btn btn-sm btn-info" acterid ={{user.id}}  data-toggle="modal" data-target="#myModaledit" ng-click="editParams($event)" >
		                  <em class="fa fa-pencil"> </em>&nbsp;编辑
		               </button>
		               <button  data-toggle="modal" data-target="#myModalDelete"   ng-click = "Values($event)"  title="Delete" acterid ={{user.id}}  class="btn btn-sm btn-danger">
		                  <em class="fa fa-trash"> </em>&nbsp;删除
		               </button>
		            </div>
		         </td>
		      </tr>
		   </table>
		   <nav class="paginationWrap">
				<ul class="pagination">
					<li>
						<a ng-click="Previous()">
							<span>上一页</span>
						</a>
					</li>
					<li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
						<a ng-click="selectPage(page)" >{{ page }}</a>
					</li>
					<li>
						<a ng-click="Next()">
							<span>下一页</span>
						</a> 
					</li>
				</ul>
		</nav>
	</div>
	<!-- 新增模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                <h4 class="modal-title" id="myModalLabel">新增用户</h4>
	            </div>
	            <div class="modal-body">
					<div class="form-group">
						<label for="inputPassword" class="col-sm-2 control-label">用户名</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="userName" 
								   placeholder="最多支持11位数字和字母">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword" class="col-sm-2 control-label">密码</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword" 
								   placeholder="最长10位">
						</div>
					</div>
					<div class="form-group">
						 <label for="inputPassword" class="col-sm-2 control-label">角色：</label>
						<div class=" col-sm-10">
							<select class="form-control " id="selectUser">
								<option value={{user.id}} ng-repeat="user in acterListArr">{{user.name}}</option>
							</select>
						</div>	
					</div>
				  </div>
		          <div class="modal-footer">
		               <button type="button" class="btn btn-primary" ng-click = "addUser()" data-dismiss="modal">保存</button>
		          </div>
	        </div>
	    </div>
	</div>
<!-- 	编辑motaichaungkou -->
	<div class="modal fade" id="myModaledit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	        	<input type="hidden" id ="editid" ng-model ="dataIdNum" />
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                <h4 class="modal-title" id="myModalLabel">编辑用户</h4>
	            </div>
	            <div class="modal-body">
					<div class="form-group">
						<label for="inputPassword" class="col-sm-2 control-label">用户名</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="userName1" 
								   placeholder="最多支持11位数字和字母">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword" class="col-sm-2 control-label">密码</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputPassword1" 
								   placeholder="最长10位">
						</div>
					</div>
					<div class="form-group">
						 <label for="inputPassword" class="col-sm-2 control-label">角色：</label>
						<div class=" col-sm-10">
							<select class="form-control " id="selectUser1">
								<option value={{user.id}} ng-repeat="user in acterListArr">{{user.name}}</option>
							</select>
						</div>	
					</div>
				  </div>
		          <div class="modal-footer">
		               <button type="button" class="btn btn-primary" ng-click = "edituser($event)"  data-dismiss="modal">保存</button>
		          </div>
	        </div>
	    </div>
	</div>
	<!-- 删除提示框 -->
	<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<input type="hidden" id="id"/>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" 
							aria-hidden="true">×
					</button>
					<h4 class="modal-title" id="myModalLabel">
						删除用户
					</h4>
				</div>
				<div class="modal-body">
					确定删除该用户？
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default fl" 
							data-dismiss="modal">取消
					</button>
					<button type="button" class="btn btn-primary fr"  ng-click="deleteUser($event)"  data-dismiss="modal" >
						确定
					</button>
				</div>
			</div>
		</div>
	</div> 
</div>	


