<#assign ctx=request.contextPath />
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>比赛规则</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache" />
		<link rel="stylesheet" type="text/css" href="${ctx}/css/match/rules.css"/>
	</head>
	<body>
		<div class="r_header">
			<h3 class="r_title">比赛规则须知：</h3>
			<p>1、比赛分为新手赛和专业赛。</p>					
			<p>2、新手赛采用期货模拟盘的操作模式，在模拟盘内使用模拟币进行比赛，比赛部分采用真实交易规则。</p>	
			<h3 class="r_title  m1 t-c">新手赛</h3>
			<table  border="1"     cellspacing="0"    bordercolor="#00CCCC" >
				<tr>
					<td></td>
					<td>报名费</td>
					<td>奖励发放</td>
					<td>评比标准</td>
				</tr>
				<tr>
					<td>免费场</td>
					<td>0</td>
					<td>5% 10元/人</td>
					<td>
						<p>收益率60%</p>
						<p>+</p>
						<p>回撤率*40%</p>
					</td>
				</tr>
				<tr>
					<td>初级场</td>
					<td>50</td>
					<td>
						<p>冠军：15%奖金池；</p>
						<p>亚军：10%奖金池；</p>
						<p>季军： 5%奖金池；</p>
						<p>前4-10的人奖励报名</p>
					</td>
					<td>
						<p>收益率60%</p>
						<p>+</p>
						<p>回撤率*40%</p>
					</td>
				</tr>
				<tr>
					<td>中级场</td>
					<td>100元</td>
					<td>
						<p>冠军：15%奖金池；</p>
						<p>亚军：10%奖金池；</p>
						<p>季军： 5%奖金池；</p>
						<p>前4-10的人奖励报名</p>
					</td>
					<td>
						<p>收益率60%</p>
						<p>+</p>
						<p>回撤率*40%</p>
					</td>
				</tr>
				<tr>
					<td>高级场</td>
					<td>200元</td>
					<td>
						<p>冠军：15%奖金池；</p>
						<p>亚军：10%奖金池；</p>
						<p>季军：5%奖金池；</p>
						<p>前4-10的人奖励报名</p>
					</td>
					<td>
						<p>收益率60%</p>
						<p>+</p>
						<p>回撤率*40%</p>
					</td>
				</tr>
			</table>
			<p>3、专业赛采用期货模拟盘的操作模式，使用U币作为通用货币，报名参加的比赛共用相同的操作数据，比赛成绩以报名时U币余额作为基数计算盈利，以报名时间开始计算对应单子的回撤率。</p>
			<h3 class="r_title  m2 t-c">专业赛</h3>
			<table cellspacing="0" cellpadding="">
				<tr>
					<td></td>
					<td>报名费</td>
					<td>奖励发放</td>
					<td>评比标准</td>
				</tr>
				<tr>
					<td>免费场</td>
					<td>0</td>
					<td>5% 10元/人</td>
					<td>
						<p>收益率60%</p>
						<p>+</p>
						<p>回撤率*40%</p>
					</td>
				</tr>
				<tr>
					<td>初级场</td>
					<td>50</td>
					<td>
						<p>冠军：15%奖金池；</p>
						<p>亚军：10%奖金池；</p>
						<p>季军：5%奖金池；</p>
						<p>前4-10的人奖励报名</p>
					</td>
					<td>
						<p>收益率60%</p>
						<p>+</p>
						<p>回撤率*40%</p>
					</td>
				</tr>
				<tr>
					<td>中级场</td>
					<td>100元</td>
					<td>
						<p>冠军：15%奖金池；</p>
						<p>亚军：10%奖金池；</p>
						<p>季军：5%奖金池；</p>
						<p>前4-10的人奖励报名</p>
					</td>
					<td>
						<p>收益率60%</p>
						<p>+</p>
						<p>回撤率*40%</p>
					</td>
				</tr>
				<tr>
					<td>高级场</td>
					<td>200元</td>
					<td>
						<p>冠军：15%奖金池；</p>
						<p>亚军：10%奖金池；</p>
						<p>季军：5%奖金池；</p>
						<p>前4-10的人奖励报名</p>
					</td>
					<td>
						<p>收益率60%</p>
						<p>+</p>
						<p>回撤率*40%</p>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
